input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset!important;
}

label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}
.form-admin .btn-add {
   height: 35px; 
   font-size: 15px; 
   border-radius: 20px; 
   cursor: pointer; 
   width: auto;
}


/***** Example custom styling *****/
.myLabel {
    border: 1px solid #AAA;
    padding: 5px 10px;
    margin: 10px 0;
    display: block;
    background-color: rgba(0,0,0,0.3);
    display: inline-block;
    width: 200px;
    cursor: pointer;
}
.myLabel:hover {
    background: rgba(0,0,0,0.6);
}
.myLabel:active {
    background: rgba(0,0,0,0.6);
}
.myLabel :invalid + span {
    /*color: #A44;*/
}
.myLabel :valid + span {
    /*color: #4A4;*/
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);

body { margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; background-image: url("../imagenes/blured.jpg");
background-repeat: no-repeat; background-size: cover; background-attachment: fixed; }
img { border: none;}
a { text-decoration: none;}
ul { padding: 0}
li { list-style-type: none;}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container { max-width: 1024px; overflow: visible;}
.container-fluid { max-width: 1200px; overflow: visible;}

header { min-height: 45px; position: fixed; width: 100%; z-index: 20; background-color: rgba(0,0,0,0.2); padding: 10px 15px}
header h1 { color: #fff; margin: 0; font-size: 20px; font-weight: 400}
header h1 span { font-size: 15px; font-weight: 400}
.content { padding-top: 50px; position: relative;}
.success { position: absolute; top: 5px; text-align: right; color: #fff; display: block; padding: 5px 10px;
background-color: rgba(255,255,255,0.2);}
.success i { margin-right: 8px}

h2.bienvenido { color: #fff; font-weight: lighter; text-align: center}

.sidebar { position: fixed; height: 100vh; left: 0; top: 45px; width: 170px; z-index: 20; background-color: rgba(0,0,0,0.2); padding: 30px 0 10px 0;}
.logo-admin img { width: 80%; display: block; margin: 0 auto;}
.sidebar a { color: #fff}
.sidebar a:hover { text-decoration: none; color: #fff}
.sidebar li { margin-bottom: 5px}
.sidebar li a { background-color: rgba(0,0,0,0.3); display: block; padding: 8px 15px; display: block;}
.sidebar li a:hover, .sidebar li a.active { background-color: rgba(0,0,0,0.5);}
.sidebar li i { margin-right: 8px}
.sidebar .nav-principal { margin-top: 30px}
.sidebar .acciones { margin-top: 30px}

.wrapper { padding-left: 140px; padding-top: 60px; position: relative; margin-top: 50px; margin-top: 50px; padding-bottom: 50px}
.wrapper p { text-align: center; color: #fff; font-weight: lighter;}
.wrapper i { margin-right: 8px}
.wrapper h3 { margin-top: 0; color: #fff; margin-bottom: 25px; font-size: 22px; font-weight: 500}
.admin-btn { color: #fff; font-size: 20px}
.admin-btn:hover, .admin-btn:focus, .admin-btn:active { color: #fff; text-decoration: none;}
.admin-btn:hover i { color: #FF3366}

.dataTables_wrapper { margin-top: 40px}
.dataTables_wrapper label { color: #fff; font-weight: 400}
.dataTables_wrapper input { border-radius: 10px; border: none; height: 25px; padding: 0 8px; color: #333}
.dataTables_wrapper select { color: #333}

table.dataTable thead th { color: #fff; font-weight: 400}
table.dataTable tbody tr td:first-child { font-weight: bold}
.dataTables_wrapper .dataTables_info { color: #fff}
.dataTables_wrapper a:hover { text-decoration: none; color: #fff}
.dataTables_wrapper a { display: inline-block; padding: 3px 8px; font-size: 13px; color: #333; background-color: #eee; border-radius: 10px}
.dataTables_wrapper a:hover { color: #fff; background-color: #FF3366;}
.dataTables_wrapper img { width: 100px}

.form-admin label { display: block; color: #fff; font-weight: 500}
.form-admin input[type="text"] { display: block; margin-top: 10px; margin-bottom: 15px; font-weight: 500; border: none; outline: none; height: 32px; padding: 0 8px; color: #333; width: 300px; border-radius: 12px}
.form-admin input[type="password"] { display: block; margin-top: 10px; margin-bottom: 15px; font-weight: 500; border: none; outline: none; height: 32px; padding: 0 8px; color: #333; width: 300px; border-radius: 12px}
.form-admin select { margin-top: 15px; color: #333; padding: 5px 10px; margin-bottom: 15px}
.form-admin button { position: relative; width: 100%; margin-top: 30px; width: 190px; height: 35px; color: rgba(255, 255, 255, 0.8);
background: #FF3366; font-size: 15px; border-radius: 20px; cursor: pointer; overflow: hidden;
-webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s; transition: width 0.3s 0.15s, font-size 0.1s 0.15s;}
.form-admin button:hover, .form-admin button:focus, .form-admin button:visited { color: #fff}

#form-login input { background-color: transparent;}
#form-login svg { display: inline-block; width: 2rem; height: 2rem; overflow: visible;}
#form-login .svg-icon { cursor: pointer;}
#form-login .svg-icon path { stroke: rgba(255, 255, 255, 0.9); fill: none; stroke-width: 1;}
#form-login input, #form-login button { outline: none; border: none;}
.cont { position: relative; top: 50%; height: 350px; overflow: auto; margin-top: 100px}
.demo { position: absolute; top: 0px; left: 50%; margin-left: -15rem; width: 30rem; height: 350px; overflow: hidden;}
.login { position: relative; height: 350px; background: -webkit-linear-gradient(top, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  -webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
          transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
#form-login .login.inactive { opacity: 0; -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1);}
#form-login .login__check { position: relative; top: 8rem; left: 13.5rem; width: 7rem; height: 1.4rem; background: #fff;
  -webkit-transform-origin: 0 100%; -ms-transform-origin: 0 100%; transform-origin: 0 100%; -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); transform: rotate(-45deg);}
#form-login .login__check:before { content: ""; position: absolute; left: 0; bottom: 100%; width: 1.4rem; height: 2.6rem;
  background: #fff; box-shadow: inset -0.2rem -2rem 2rem rgba(0, 0, 0, 0.2);}
#form-login .login__form { position: absolute; top: 120px; left: 0; width: 100%; height: 50%; padding: 1.5rem 2.5rem;
  text-align: center;}
#form-login .login__row { height: 5rem; padding-top: 1rem; border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
#form-login .login__row input { background-color: transparent!important}
#form-login .login__icon { margin-bottom: -0.4rem; margin-right: 0.5rem;}
.login__icon.name path {
  stroke-dasharray: 73.50196075439453;
  stroke-dashoffset: 73.50196075439453;
  -webkit-animation: animatePath 2s 0.5s forwards;
          animation: animatePath 2s 0.5s forwards;
}
#form-login .login__icon.pass path {
  stroke-dasharray: 92.10662841796875;
  stroke-dashoffset: 92.10662841796875;
  -webkit-animation: animatePath 2s 0.5s forwards;
          animation: animatePath 2s 0.5s forwards;
}
#form-login .login__input {
  display: inline-block;
  width: 22rem;
  height: 100%;
  padding-left: 1.5rem;
  font-size: 1.5rem;
  background: transparent;
  color: #FDFCFD;
}
#form-login .login__submit {
  position: relative;
  width: 100%;
  height: 4rem;
  margin: 30px 0 2.2rem;
  color: rgba(255, 255, 255, 0.8);
  background: #FF3366;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
          transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}
#form-login .login__submit:after {
   content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  width: 3rem;
  height: 3rem;
  border: 2px dotted #fff;
  border-radius: 50%;
  border-left: none;
  border-bottom: none;
  -webkit-transition: opacity 0.1s 0.4s;
          transition: opacity 0.1s 0.4s;
  opacity: 0;
}
.login__submit.processing {
  width: 4rem;
  font-size: 0;
}
.login__submit.processing:after {
  opacity: 1;
  -webkit-animation: rotate 0.5s 0.4s infinite linear;
          animation: rotate 0.5s 0.4s infinite linear;
}
.login__submit.success {
  -webkit-transition: -webkit-transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
          transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
  -webkit-transform: scale(30);
      -ms-transform: scale(30);
          transform: scale(30);
  opacity: 0.9;
}
.login__submit.success:after {
  -webkit-transition: opacity 0.1s 0s;
          transition: opacity 0.1s 0s;
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}
.login__signup {
  font-size: 1.2rem;
  color: #ABA8AE;
}
.login__signup a {
  color: #fff;
  cursor: pointer;
}


.ripple {
  position: absolute;
  width: 15rem;
  height: 15rem;
  margin-left: -7.5rem;
  margin-top: -7.5rem;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-animation: animRipple 0.4s;
          animation: animRipple 0.4s;
  border-radius: 50%;
}

@-webkit-keyframes animRipple {
  to {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0;
  }
}

@keyframes animRipple {
  to {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0;
  }
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}

.integrante { width:650px; float:left; margin:5px 15px 15px 0; background-image:url(imagenes/transparente.png); padding:8px 0 10px 10px; box-shadow: #999 1px 2px 2px 1px}
.sectorfoto { width:250px; text-align:center; float:left; margin-right:15px; padding:15px 5px 5px 5px}
h4.nombre { color: #053c6e; margin-top: 8px; margin-bottom: 3px}
.sectorfoto span { color: #444}
.sectorinfo { float:left; padding-top:15px}
.sectorinfo p { margin-bottom:20px!important}
.imgIntegrante {width:100px; height:140px;}