@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

body { margin: 0; padding: 0; background-image: url("../imagenes/fondobody.jpg"); background-position: center; background-attachment: fixed;
 font-family: 'Open Sans', sans-serif;}
a, a:hover, a:focus, a:active, a:visited { text-decoration: none;}
img { border: none;}
ul { padding-left: 0}
li { list-style-type: none;}
p { line-height: 25px; }
.cleaner { clear: both;}
b { font-weight: 600}

.desaturado { -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
 -webkit-filter: grayscale(100%); filter: grayscale(100%); filter: url(desaturate.svg#greyscale);}
.desaturado:hover { -webkit-filter: grayscale(0%); filter: grayscale(0%)}

header { overflow: hidden; margin-left: -15px; margin-right: -15px}
.logo { width: 100%; background-color: black }
.container { background-color: #f4f4f4; min-height: 100vh; position: relative; padding-bottom: 90px;}
.botonera { padding: 0; margin-bottom: 0px; background-color: #ddd; overflow: hidden;}
.botonera li { float: left; height: 100%}
ul.nav { display: inline-block; margin-bottom: -5px}
ul.nav a { padding: 15px; color: #fff; font-size: 15px; display: block;
transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out;
 background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
  background: -moz-linear-gradient(top,#42a4e0,#2e88c0);
  background: -ms-linear-gradient(top,#42a4e0,#2e88c0);
  background: linear-gradient(top,#42a4e0,#2e88c0);}
ul.nav li:nth-child(2) { border-left: 1px solid #408CCF; border-right: 1px solid #408CCF}
ul.nav a:hover { background: -webkit-linear-gradient(top,#70bfef,#4097ce);
  background: -moz-linear-gradient(top,#70bfef,#4097ce);
  background: -ms-linear-gradient(top,#70bfef,#4097ce);
  background: linear-gradient(top,#70bfef,#4097ce); }
ul.nav a:active, ul.nav a:focus { background-color: #3a7aab}
.social { float: right; padding-right: 40px; padding-top: 8px}
.social a { color: #3a7aab; font-size: 24px; margin-left: 10px; margin-top: 4px}
.social a:hover { color: #222}

.navbar { display: none; height: 50px; padding: 8px 10px; margin-bottom: 30px}
.navbar i { color: #222}
.logo-navbar { float: left; color: #fff}
.desplegable { float: right; color: #222; font-size: 30px; margin-right: 10px; z-index: 1010}
.desplegable:hover { color: #222}
.navbar-mobile { display: none; float: left; width: 100%; height: 100vh; position: relative; z-index: 90; padding-top: 30px;}
.navbar-mobile a { color: #222; display: block; text-align: center; font-size: 25px; padding: 14px 0;
transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out}
.navbar-mobile a:hover { text-decoration: none; color: #408CCF;}

footer { position: absolute; bottom: 0; height: 90px; width: 100%; background-color: #408CCF; color: #fff; margin-left: -15px; margin-right: -15px; margin-top: 30px; padding-top: 10px; padding-left: 30px }
footer img { height: 50px; float: left; }
footer p { float: right; padding-right: 30px; color: #fff; text-align: right; padding-top: 5px; line-height: 30px}
footer a { color: #fff}
footer a:hover { color: #fff; text-decoration: underline;}
footer i { margin-right: 8px}

/*INDEX*/
.intro { text-align: center; background-color: #eee; margin-left: -15px; margin-right: -15px; margin-top: 10px; padding: 10px;
}
.intro h3 { line-height: 35px; color: #468CCA; margin-top: 0; font-weight: 600}
.intro p { font-size: 16px; font-weight: 600}
.intro p span { font-size: 18px; font-weight: bold;}

.izquierda, .derecha { padding-left: 30px; padding-right: 30px; overflow: hidden;}
.izquierda p, .derecha p { text-align: justify;}
.izquierda { border-right: 1px solid #ddd}
@media screen and (max-width: 768px) {
  .izquierda { border-right: none;}
  }

.izquierda p a { font-weight: 600; color: #408CCF}
.izquierda p span { font-weight: 600; color: #408CCF}

h1 { color: #408CCF; font-weight: 600; font-size: 26px; padding-bottom: 8px; border-bottom: 1px solid #ddd; margin-top: 10px}
h1 span { color: #222}
h2 { color: #408CCF; font-weight: 600; font-size: 21px; margin-top: 30px; padding-bottom: 8px; border-bottom: 1px solid #ddd}
.nota { padding-top: 15px; margin-bottom: 30px}
.nota p { color: #408CCF}
.planeta { float: left; width: 54%}
.planeta img { width: 100%}
.destacado { float: right; width: 39%}
.destacado p { text-align: left;}
.bitpagos { text-align: right;}

.sitios { margin-top: 30px; padding: 10px 30px 0 30px; overflow: hidden;}
.sitios h2 { padding-left: 15px; text-align: center; font-weight: 600; font-size: 19px; margin-bottom: 20px; color: #222}
.sitio { margin-bottom: 20px}
.sitio img { -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;}
.sitio img:hover { box-shadow: 2px 2px 5px #888}

h3.bajada { font-weight: 600; line-height: 30px; margin-top: 0; font-size: 22px}
h3.bajada a { color: #408CCF}

ul.conseguir { padding-left: 18px}
ul.conseguir li { list-style-type: square; margin-bottom: 12px}

.cuadro { color: #fff; margin: 30px 0}
.cuadro a { color: #fff; background-color: #408CCF; display: block; padding: 10px 15px; border-bottom: 1px solid #4995d8}
.cuadro a:hover { background-color: #4995d8;}
.cuadro p { font-size: 16px; margin-bottom: 0}
.cuadro span { color: #fff; font-size: 13px; line-height: 16px}

.links { padding: 0 30px 10px 30px; overflow: hidden; margin-bottom: 30px}
.links h2 { padding-left: 15px; font-weight: 600 ; font-size: 19px; color: #222; text-align: center;}

.lugares { margin-top: 30px; overflow: hidden;}
.argentina img { width: 100%}

.categorias { padding: 10px 30px; overflow: hidden; }
.categorias h4 { color: #58585A; font-size: 25px; font-weight: 600; margin-bottom: 0 }
.categorias h4 img { margin-right: 10px; width: 40px}
.categorias p { font-size: 13px; padding-left: 50px; padding-bottom: 4px; margin-top: 0}
.categorias a { margin: 5px; display: block; float: left; padding: 3px 7px; background-color: #58585A; color: #fff;
transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out}
.categorias a:hover { background-color: #408CCF; }

.categoria { overflow: hidden; padding: 15px }
.categoria h4 { margin: 10px 17px; border-bottom: 1px solid #408CCF; padding-bottom: 8px; font-weight: 600;}
.categoria p { margin: 5px; line-height: 21px; padding: 10px; overflow: hidden; box-shadow: 2px 2px 5px #ccc; border: 1px solid #ccc;
background-image: url("../imagenes/borde.png"); background-position: 98% 6px; background-repeat: no-repeat; }
.categoria p span { font-size: 12px; display: block; border-bottom: 1px solid #ccc; padding: 3px}
.categoria p span.nombre-comercio { color: #408CCF; font-weight: 600; font-size: 16px; display: block; 
padding-right: 20px; margin-bottom: 4px; border-bottom: 1px solid #408CCF}
a.sitio-web { display: inline-block; margin-top: 4px}
.categoria p span i { margin-right: 3px; color: #222} 
.categoria a { font-size: 13px; font-weight: 600}
.categoria i.fa-twitter, .categoria i.fa-facebook { margin-left: 10px; margin-top: 10px; color: #408CCF; float: right; }

.lista { overflow: hidden}
.lista h3 { font-size: 18px; margin: 0; position: relative; top: 14px; font-weight: 600}
.lista h4 { color: #58585A; font-size: 25px; font-weight: 600; margin-bottom: 0 }
.lista p.seleccione { font-size: 13px; padding-bottom: 4px; line-height: 17px; margin-top: 5px}
.lista h4 img { margin-right: 10px; width: 40px}

.mapa { min-height: 500px; margin-bottom: 25px}
.tabla { max-height: 600px; overflow-y: scroll }
h3#table-title { margin-bottom: 25px}
h3#table-title span { font-size: 13px; font-weight: 500; margin-left: 10px}

p.provincia { font-weight: 600; font-size: 19px}

.btcompras { padding: 40px 20px}

.faq-indice { padding: 40px 30px; overflow: hidden;}
.faq-indice h2 { margin-top: 0; padding-bottom: 8px; border-bottom: 1px solid #ddd}
.faq-indice h4 { font-weight: 600; margin: 10px 0}
.faq-indice ul { padding-left: 15px}
.faq-indice li { list-style-type: square;}
.faq-indice a:hover { color: #408CCF }

.respuestas { padding: 10px 30px; text-align: justify;}
.respuestas h3 { background-color: #408CCF; color: #fff; padding: 5px 10px; margin: 30px 0 10px 0; font-weight: 600}
p.fuente { padding: 5px 10px; background-color: #ddd; color: #408CCF; font-size: 18px; margin-top: 40px; font-weight: 600 }
p.fuente span { color: #222}
.respuestas h4 { margin-top: 20px; font-weight: 600; padding-left: 8px; border-left: 3px solid #408CCF}
.respuestas li { margin: 8px 0; line-height: 25px}

/*REGISTER*/
.registro { padding: 40px 30px 50px 30px}
.registro h2 { margin-top: 0}
.registro h3 { margin-top: 0; padding-bottom: 6px; border-bottom: 1px solid #408CCF; font-size: 18px}
.registro h4 { margin-top: 30px; margin-bottom: 20px; font-weight: 600; font-size: 14px}
.formulario { margin-top: 30px; padding-bottom: 40px; overflow: hidden;}
.formulario label { display: block;}
.formulario label span { font-weight: normal; font-size: 12px}
.formulario input[type="text"], .formulario input[type="email"] { border: 1px solid #ccc; height: 32px; padding: 4px 8px; margin-bottom: 8px; width: 300px}
.formulario select { height: 32px; border: 1px solid #ccc; margin-bottom: 8px;}
.formulario .input-group-addon { height: 32px; display: inline-block; vertical-align: initial; line-height: 18px; font-weight: bold; width: auto }
.formulario .button { margin-top: 20px}
.formulario .button:hover { color: #fff}
.nombre-comercio-register { text-align: center; background-color: #fff; box-shadow: 2px 2px 5px #ddd; padding: 10px; margin-bottom: 20px}
.nombre-comercio-register label { font-weight: 500}
.nombre-comercio-register h2 { margin: 10px 0 0 0; border-bottom: none; font-size: 24px}

.login { min-height: 500px; text-align: center; padding-top: 50px}
.login input { padding: 4px; height: 32px; margin: 0 10px}
.administracion { min-height: 600px; padding: 10px 15px}

.sesion { text-align: right; padding: 0 0 20px 0}
.sesion i { margin-right: 5px}
.sesion a { font-weight: bold; color: #408CCF}
.sesion a:hover { color: #222}

.mapa { position: relative;}
.capitalfederal img { width: 100px; height: 100px; background-color: #222; position: relative; top: 100px; right: 0; z-index: 10000; margin-top: -83px; cursor: pointer;}

.row { padding: 0 30px;
 -moz-column-width: 20em;
 -webkit-column-width: 20em;
 -moz-column-gap: -1em;
 -webkit-column-gap: -1em; 
  
}

.resultado {
 display: inline-block;
 margin:  0.25rem;
 width:  100%; 
}

@media (max-width: 768px) { 
  .navbar { display: block;}
  .botonera { display: none;}
}

@media (min-width: 768px) {
  .navbar-mobile { display: none;}
}

.button{
  min-width: 130px;
  line-height: 30px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  margin:0 10px 20px 0;
  position: relative;
  overflow: hidden;
  border: 0;
  padding: 2px 12px;
  color: #fff;
display: inline;}
a.button {
  display: inline-table;
}

.button.black{
  /*border:1px solid #333;
  box-shadow: 0 1px 2px #8b8b8b inset,0 -1px 0 #3d3d3d inset,0 -2px 3px #8b8b8b inset;*/
  background: -webkit-linear-gradient(top,#656565,#4c4c4c);
  background: -moz-linear-gradient(top,#656565,#4a4a4a);
  background: -ms-linear-gradient(top,#656565,#4a4a4a);
  background: linear-gradient(top,#656565,#4a4a4a);
}
.button.red{
  border:1px solid #b42323;
  box-shadow: 0 1px 2px #e99494 inset,0 -1px 0 #954b4b inset,0 -2px 3px #e99494 inset;
  background: -webkit-linear-gradient(top,#d53939,#b92929);
  background: -moz-linear-gradient(top,#d53939,#b92929);
  background: -ms-linear-gradient(top,#d53939,#b92929);
  background: linear-gradient(top,#d53939,#b92929);
}
.button.green{
  border:1px solid #64c878;
  box-shadow: 0 1px 2px #b9ecc4 inset,0 -1px 0 #6c9f76 inset,0 -2px 3px #b9ecc4 inset;
  background: -webkit-linear-gradient(top,#90dfa2,#84d494);
  background: -moz-linear-gradient(top,#90dfa2,#84d494);
  background: -ms-linear-gradient(top,#90dfa2,#84d494);
  background: linear-gradient(top,#90dfa2,#84d494);
}
.button.blue{
  /*border:1px solid #1e7db9;
  box-shadow: 0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;*/
  background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
  background: -moz-linear-gradient(top,#42a4e0,#2e88c0);
  background: -ms-linear-gradient(top,#42a4e0,#2e88c0);
  background: linear-gradient(top,#42a4e0,#2e88c0);
}

.black:hover{
  background: -webkit-linear-gradient(top,#818181,#575757);
  background: -moz-linear-gradient(top,#818181,#575757);
  background: -ms-linear-gradient(top,#818181,#575757);
  background: linear-gradient(top,#818181,#575757);
}
.red:hover{
  background: -webkit-linear-gradient(top,#eb6f6f,#c83c3c);
  background: -moz-linear-gradient(top,#eb6f6f,#c83c3c);
  background: -ms-linear-gradient(top,#eb6f6f,#c83c3c);
  background: linear-gradient(top,#eb6f6f,#c83c3c);
}
.green:hover{
  background: -webkit-linear-gradient(top,#aaebb9,#82d392);
  background: -moz-linear-gradient(top,#aaebb9,#82d392);
  background: -ms-linear-gradient(top,#aaebb9,#82d392);
  background: linear-gradient(top,#aaebb9,#82d392);
}
.blue:hover{
  background: -webkit-linear-gradient(top,#70bfef,#4097ce);
  background: -moz-linear-gradient(top,#70bfef,#4097ce);
  background: -ms-linear-gradient(top,#70bfef,#4097ce);
  background: linear-gradient(top,#70bfef,#4097ce);
}

.black:active{
  top:1px;
  box-shadow: 0 1px 3px #111 inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#424242,#575757);
  background: -moz-linear-gradient(top,#424242,#575757);
  background: -ms-linear-gradient(top,#424242,#575757);
  background: linear-gradient(top,#424242,#575757);
}
.red:active{
  top:1px;
  box-shadow: 0 1px 3px #5b0505 inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#b11a1a,#bf2626);
  background: -moz-linear-gradient(top,#b11a1a,#bf2626);
  background: -ms-linear-gradient(top,#b11a1a,#bf2626);
  background: linear-gradient(top,#b11a1a,#bf2626);
}

.green:active{
  top:1px;
  box-shadow: 0 1px 3px #4d7254 inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#5eac6e,#72b37e);
  background: -moz-linear-gradient(top,#5eac6e,#72b37e);
  background: -ms-linear-gradient(top,#5eac6e,#72b37e);
  background: linear-gradient(top,#5eac6e,#72b37e);
}
.blue:active{
  top:1px;
  box-shadow: 0 1px 3px #114566 inset,0 3px 0 #fff;
  background: -webkit-linear-gradient(top,#1a71a8,#1976b1);
  background: -moz-linear-gradient(top,#1a71a8,#1976b1);
  background: -ms-linear-gradient(top,#1a71a8,#1976b1);
  background: linear-gradient(top,#1a71a8,#1976b1);
}

