{% block content %}

    <div class="integrante">
        <div class="sectorfoto">
                <img src="{{ investigador[8] }}" class="imgIntegrante" />
                <a href="verIntegrante.php?idInvestigador={{ investigador[0] }}" class="admin-btn"><i class="fa fa-plus-circle"><u>{{ investigador[7] }}</u></a>
        </div>
        <div class="sectorinfo">
            <p><strong>Título:</strong> {{ investigador[1] }}</p>
            <p><strong>Área de investigación:</strong> {{ investigador[2] }}</p>
            <p><strong>Dependencia:</strong> {{ investigador[3] }}</p>
            <p><strong>Actividad:</strong> {{ investigador[4] }}</p>
            <p><strong>Email:</strong> {{ investigador[5] }}</p>
        </div>
    </div>

{% endblock %}