{% extends 'base-admin.html' %}

{% block head %}
	{{ parent() }}
	<script src="js/val.js"></script> 
{% endblock %}

{% block content %}
	<h2>Crear integrante</h2>
	<table class="admin-table stripe">
		<thead>
			<th>Nombre</th>
			<th>Imágen</th>
			<th>Categoría</th>
			<th></th>
		</thead>
		<tbody>
			{% for investigador in investigadores %}
				<tr id="delete-{{ investigador.idInvestigador }}" data-id="{{ investigador.idInvestigador }}">
					<td>{{ investigador.nombre }}</td>
					<td>{{ investigador.categoria }}</td>
					<td><a href="modificarInvestigador?id={{ investigador.idInvestigador }}"><i class="fa fa-edit"></i>Editar</a></td>
					<td><a class="delete" data-id="{{ investigador.idInvestigador }}" href="#"><i class="fa fa-trash"></i>Eliminar</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
