{% block content %}

    <div class="integrante">
        <p><strong>Nombre:</strong> {{ investigador[7] }} }}</p>
        <p><strong>Título:</strong> {{ investigador[1] }}</p>
        <p><strong>Área de investigación:</strong> {{ investigador[2] }}</p>
        <p><strong>Dependencia:</strong> {{ investigador[3] }}</p>
        <p><strong>Actividad:</strong> {{ investigador[4] }}</p>
        <p><strong>Email:</strong> {{ investigador[5] }}</p>
        <p><strong>Telefono:</strong> {{ investigador[5] }}</p>
        <p><strong>Email:</strong> {{ investigador[5] }}</p>
    </div>

    <!-- 
    1. link a los proyectos
    -->

    <div class="trabajos">

        {% if trabajos is defined %}      
            <ul>
            {% for trabajo in investigadores %}
                <li>
                    {{ trabajo[1] }} - {{ trabajo[2] }} - {{ trabajo[3] }}
                </li>
            {% endfor %}    
            </ul>
        {% else %}
            <p>No se encontraron integrantes.</p>
        {% endif %}

    </div>

{% endblock %}