@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300,400);

body { margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; background-color: rgba(33,50,99,1)}
ul { padding: 0}
li { list-style-type: none;}
img { border: 0;}
a { text-decoration: none}
.cleaner { clear: both;}
.sidebar { width: 110px; background-color: rgba(33,50,99,0.8); height: 100vh; position: fixed; left: 0; top: 0; z-index: 1000;
padding: 10px}
.sidebar p { font-size: 20px; color: #fff; text-align: center; margin-bottom: 0}
.logo-ilpla { display: block; text-align: center; margin-top: 12px}
.menu-toggle { font-size: 30px; text-align: center; margin-top: 15px}
.menu-toggle a { color: #fff; text-decoration: none;}
.menu-toggle a:hover { opacity: 0.8}

.flex-caption { background-attachment: scroll; background-clip: border-box; background-color: rgba(33,50,99,0.6);
background-origin: padding-box; background-position: 0 0; background-repeat: repeat; background-size: auto auto;
margin-left: auto; margin-right: 0; padding: 0 30px 20px 15px; position: fixed; bottom: 20px; right: 0;
width: 40%; color: #fff; min-height: 200px}
.flex-caption h3 { font-family: 'Open Sans'; font-size: 1.9em; font-weight: 700; margin-bottom: 5px; margin-top: 15px; color: #34ace2}
.flex-caption p { font-size: 0.9em; line-height: 1.4em; font-weight: 300}
.flex-caption a { color: #fff; padding-bottom: 5px; border-bottom: 1px solid transparent}
.flex-caption a:hover { border-bottom: 1px solid #fff; text-decoration: none;}

.menu { font-family: 'Open Sans', sans-serif; font-weight: 400; position: fixed; top: 0; left: 110px; height: 100vh; background-color: rgba(0,0,0,0.8); width: 210px; z-index: 2000;
display: none; padding-top: 20px; -webkit-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -moz-transition: -moz-transform .5s ease-in-out}
.menu > ul { margin-top: 50px;}
.menu li { margin-bottom: 10px; padding-left: 20px;}
.menu li ul { display: none; margin-top: 10px}
.menu li ul li { padding-left: 10px; margin-bottom: 7px}
.menu li ul li a { font-size: 13px; font-weight: 300; display: block;}
.menu li:hover > ul { margin-bottom: 15px; display: block}
.menu li a { color: #fff; font-size: 17px; text-transform: uppercase; -webkit-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -moz-transition: -moz-transform .3s ease-in-out}
.menu a:hover { color: #34ace2; text-decoration: none;}

.menu-mobile { float: right; color: #222; font-size: 30px; margin-right: 10px; z-index: 1010; position: relative; bottom: 3px}
.menu-mobile:hover { color: #222}

.navbar { display: none; height: 40px; padding: 8px 10px; margin-bottom: 0; position: absolute; width: 100%; 
  z-index: 1000; background-color: rgba(33,50,99,1)}
.navbar i { color: #fff}
.navbar h1 { font-size: 12px; color: #fff; display: inline-block; margin-top: 0; line-height: 18px}
.navbar-mobile { display: none; float: left; width: 100%; height: 100vh; background-color: rgba(33,50,99,1); 
  position: relative; z-index: 90; padding-top: 50px;}
.navbar-mobile li {}
.navbar-mobile a { color: #fff; display: block; text-align: center; font-size: 25px; padding: 8px 0;
transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out}
.navbar-mobile a:hover { color: rgba(0,152,218,1); text-decoration: none; background-color: rgba(255,255,255,0.1);}

.links { text-align: center; margin-top: 40px}
.links a { display: inline-block; margin-bottom: 10px}

.social { position: absolute; bottom: 20px; width: 100%; left: 0; text-align: center}
.social a { display: block; width: 40px; height: 40px; margin: 12px auto 0 auto; }
.social a img { width: 40px; height: 40px; border-radius: 50%; border: 2px solid transparent}
.social a:hover img { border: 2px solid rgba(255,255,255,0.3)}

.content { padding-left: 110px; background-color: #fff; overflow: hidden;}
.wrapper { position: relative; background: url("imagenes/fondo.jpg") no-repeat bottom; background-size: 100%; padding-left: 110px; padding-bottom: 140px; }
.campos img { width: 100%}
.campos h1 { color: #fff; background-color: rgba(0,0,0,0.2); padding: 5px 0 5px 10px; width: 100%; font-size: 42px; margin: 0; font-family: 'Open Sans', sans-serif; text-transform: uppercase; position: absolute; left: 0px; bottom: 0; font-weight: 700}

.banner-seccion { position: relative; margin-bottom: 30px}
.banner-seccion img { width: 100%}
.banner-seccion h1 { color: #fff; background-color: rgba(0,0,0,0.2); padding: 5px 0 5px 10px; width: 100%; font-size: 32px; margin: 0; font-family: 'Open Sans', sans-serif; text-transform: uppercase; position: absolute; left: 0px; bottom: 0; font-weight: 400; z-index: 1000}
.banner-seccion h2 { color: #fff; background-color: rgba(0,0,0,0.2); padding: 5px 0 5px 10px; width: 100%; font-size: 42px; margin: 0; font-family: 'Open Sans', sans-serif; text-transform: uppercase; position: absolute; left: 0px; bottom: 0; font-weight: 700}

.investigaciones { margin-bottom: 80px}
.boxes { padding-left: 0; padding-right: 0}
.boxes div { padding: 0}
.box { position: relative; overflow: hidden;}
.box img { display: block; width: 100% }
.box .area { width: 100%; top: 25px; position: absolute}
.box h2 { width: 100%; margin: 0; color: #fff; background-color: rgba(33,50,99,0.8); font-weight: normal; padding: 5px; font-size: 20px; text-align: center;}
.box p { margin: 0; padding: 5px; background-color: rgba(33,50,99,0.8); color: #fff;text-align: center;}
.box .overlay { position: absolute; text-align: center; width: 100%; height: 100%; background-color: rgba(0,0,0,0.3); opacity: 0;
transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out}
.box:hover > .overlay { opacity: 1}
.box-links { height: 50px; position: absolute; bottom: 0; width: 100%; text-align: center;}
.overlay a { background-color: rgba(33,50,99,0.6); margin: 0 10px; color: #fff; text-align: center; padding: 10px 15px; border-radius: 17px}
.overlay a:hover { background-color: rgba(33,50,99,1); text-decoration: none;}

.integrante { overflow: hidden; padding: 8px}
.integrante a { display: inline-block;}
.integrante a:hover { text-decoration: none;}
.resumen-integrante { padding-top: 15px}
.resumen-integrante h3 { margin-top: 0; font-size: 17px; font-weight: 700}
.resumen-integrante p { margin-top: 0; margin-bottom: 4px; font-size: 13px}

h2.subtitulo { text-align: right; color: rgba(0,152,218,1); margin-top: 0; font-family: 'Open Sans', sans-serif; font-weight: 700}
.subseccion { position: relative; overflow: hidden; margin-bottom: 25px}
.subseccion img { max-width: 100%}
.subseccion h3 { position: absolute; bottom: 0; margin: 0; padding: 5px; background-color: rgba(255,255,255,0.6); color: #324163; 
	font-size: 20px; width: 100%; font-weight: 700}

.desarrollo { margin-bottom: 50px}
h3.subtitulo { font-size: 30px; text-align: right; margin-top: 0; color: #324163; text-transform: uppercase; font-weight: 400; font-family: 'Open Sans', sans-serif;}
h3 a:hover { text-decoration: none;}

.banner-biblioteca { position: relative; margin-bottom: 30px; height: 485px; background: url("imagenes/biblioteca.jpg") 50% 0 no-repeat fixed; background-size: cover}
.banner-biblioteca h1 { color: #fff; background-color: rgba(0,0,0,0.2); padding: 5px 0 5px 10px; width: 100%; font-size: 42px; margin: 0; font-family: 'Open Sans', sans-serif; text-transform: uppercase; position: absolute; left: 0px; bottom: 0; font-weight: 700}

.buscador-biblioteca input { height: 40px; width: 100%; padding: 0 10px; font-size: 15px; margin-bottom: 10px}
.buscador-biblioteca button { background-color: #324163; color: #fff; height: 40px; font-size: 16px; padding: 10px 25px; border-radius: 20px; outline: 0; border: none; }
.buscador-biblioteca button:hover { opacity: 0.9}

.form-contacto label { display: block;}
.form-contacto input { width: 90%; padding: 4px 8px; margin-bottom: 10px }
.form-contacto textarea { width: 90%; height: 120px}
.form-contacto button { padding: 5px 12px; margin-top: 5px}

.datos-contacto { padding-bottom: 25px}
.datos-contacto h3 { color: #324163 }
.datos-contacto h4 { color: #324163 }

.evento { margin-bottom: 30px}
.evento h3 { margin-top: 0; color: #324163}

.novedad { border-bottom: 2px solid #ddd; margin-bottom: 30px; overflow: hidden; padding-bottom: 20px}
.novedad h3 { margin-top: 0; color: #324163}

footer { min-height: 180px; background-color: rgba(33,50,99,1); margin-top: 50px; color: #fff; padding: 15px 25px; text-align: center;}
footer h4 { margin-bottom: 20px; text-align: center; border-bottom: 1px solid rgba(255,255,255,0.1); padding-bottom: 10px}
footer p { font-size: 12px}
footer a { color: #fff}
footer a:hover { color: #eee}
footer p i { margin-right: 8px; font-size: 19px}
p.copyright { margin-top: 50px}

@media (max-height:550px){
	.social { display: none}
}
@media (max-width: 768px) { 
  .sidebar { display: none;}
  .navbar { display: block;}
  .navbar img { height: 30px}
  #main { padding-top: 40px}
  .content, .wrapper { padding-left: 0; padding-top: 40px}
  footer { margin-left: 0}
  h2.subtitulo { text-align: left;}
  h3.subtitulo { text-align: left;}
  .menu { display: none;}
  .bx-wrapper { position: relative; margin: 0 auto 60px; padding: 0; *zoom: 1; height: 40vh;}
  .bx-wrapper img { max-width: 100%; height: 40vh; display: block;}
  .flex-caption { background-attachment: scroll; background-clip: border-box; background-color: rgba(33,50,99,0.6);
background-origin: padding-box; background-position: 0 0; background-repeat: repeat; background-size: auto auto;
margin-left: auto; margin-right: 0; padding: 0 30px 20px 15px; position: fixed; bottom: 20px; right: 0;
width: 100%; color: #fff; min-height: 200px}
}
@media (min-width: 768px) {
  .navbar-mobile { display: none;}
}


