{% extends 'base-admin.html' %}

{% block content %}

	<h2 class="bienvenido">Bienvenido al panel de administración del ILPLA</h2>
	<p>Seleccione una opción del menú lateral para comenzar</p>

{% endblock %}
