{% extends 'base-admin.html' %}

{% block content %}
	<h3>Nuevo integrante</h3>
	<form id="product-new" class="form-admin" action="crearIntegranteController.php" method="POST" enctype="multipart/form-data">
		<div>
			<label>Nombre
				<input type="text" name="name" id="name">
			</label>
			<label>Título
				<input type="text" name="degree" id="degree">
			</label>
			<label>Area de Investigación
				<input type="text" name="researchArea" id="researchArea">
			</label>
			<label>Dependencia
				<input type="text" name="dependence" id="dependence">
			</label>
			<label>Categoría
				<select name="selectCategoria">
					<option value="Administración">Administración</option>
					<option value="Investigador">Investigador</option>
					<option value="Personal de apoyo">Personal de apoyo</option>
					<option value="Becario">Becario</option>
					<option value="Pasante">Pasante</option>
				</select>
			</label>
			<label>Actividad
				<input type="text" name="activity" id="activity">
			</label>
			<label>Email
				<input type="text" name="email" id="email">
			</label>
			<label>Teléfono
				<input type="text" name="phone" id="phone">
			</label>
			<label>Imagen <br/>
				<img id="exampleIMG" src="" class="imgIntegrante"/>
				<input type="file" name="archivo" id="archivo" >
			</label>
		</div>
		<button class="waves-effect waves-light btn btn-tiny" type="submit">Crear</button>
	</form>
{% endblock %}
