{% extends 'base-admin.html' %}


{% block js %}
    <script>
        $(document).ready(function(){
            
            var selectedInvestigadores = [];
            getInvestigadores({ success : function(investigadores){
                var valorIdItem;
                var investigadoresByName = {};
                var names = [];
                investigadores.forEach(function(investigador){
                    names.push(investigador.nombre);
                    investigadoresByName[investigador.nombre] = investigador;
                });
                $("#nombreInv").tagit({
                    singleField : true,
                    // singleFieldNode : $('#idInv'),
                    availableTags :  names,
                    beforeTagAdded: function(event, ui) {
                        if ( !investigadoresByName[ui.tagLabel] ){ return false; }
                        selectedInvestigadores.push(investigadoresByName[ui.tagLabel]);
                    },
                    beforeTagRemoved: function(event, ui) {
                        var investigador = investigadoresByName[ui.tagLabel];
                        selectedInvestigadores.splice(selectedInvestigadores.indexOf(investigador), 1);
                    },
                });
            }});

            $('#product-new').submit(function(){
                if ( !selectedInvestigadores.length ){
                    alert('Debe seleccionar al menos un investigador');
                    return false;
                }
                var ids = [];
                selectedInvestigadores.forEach(function(investigador){
                    ids.push(investigador.idInvestigador);
                });
                $('#idInv').val(ids.join(','));
                return true;
            });
        });

    </script>
{% endblock js %}


{% block content %}
    <h3>Nuevo trabajo</h3>
    <form id="product-new" class="form-admin" action="crearTrabajoController.php" method="POST" enctype="multipart/form-data">
        <div>
            <label>Nombre
                <input type="text" name="name" id="name">
            </label>
            <label>Año
                <input type="text" name="year" id="year">
            </label>
            <label>DOI
                <input type="text" name="doi" id="doi">
            </label>
            <label>Investigador
                <ul id="nombreInv"></ul>
                <input type="hidden" name="idInv" id="idInv">
            </label>
        </div>
        <button class="waves-effect waves-light btn btn-tiny">Crear</button>
    </form>
{% endblock %}
