{% block content %}

    <div class="integrante">
        <div class="sectorfoto">
                <img src="{{ investigador[9] }}" class="imgIntegrante" />
                <h4><u>{{ investigador[8] }}</u></h4>
        </div>
        <div class="sectorinfo">
            <p><strong>Título:</strong> {{ investigador[1] }}</p>
            <p><strong>Área de investigación:</strong> {{ investigador[2] }}</p>
            <p><strong>Dependencia:</strong> {{ investigador[3] }}</p>
            <p><strong>Actividad:</strong> {{ investigador[5] }}</p>
            <p><strong>Email:</strong> {{ investigador[6] }}</p>
            <p>
                <strong> 
                    <a class="button" href="javascript:borrado({{ investigador[0] }})">Eliminar</a>&nbsp;
                    <a class="button" href="modificarInvestigador.php?idInvestigador={{ investigador[0] }}">Modificar</a><br /><br />
                </strong>
            </p>
        </div>
    </div>

{% endblock %}