{% extends 'base-admin.html' %}

{% block css %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
{% endblock %}

{% block js %}
	<script src="js/val.js"></script> 
	<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script> 
	<script>
		$(document).ready(function(){
		    $('.admin-table').DataTable({
		    	"language": {
		            "lengthMenu": "Mostrar _MENU_ resultados por página",
		            "zeroRecords": "Sin resultados",
		            "search": "Filtrar",
		            "info": "Mostrando página _PAGE_ de _PAGES_",
		            "infoEmpty": "No hay resultados disponibles",
		            "infoFiltered": "(filtrados de un total de _MAX_ resultados)"
	        	}
		    });
		});
	</script>
{% endblock %}

{% block content %}
	<a href="crearIntegrante.php" class="admin-btn"><i class="fa fa-plus-circle"></i>Crear integrante</a>

	<table class="admin-table stripe">
		<thead>
			<th>Nombre</th>
			<th>Imágen</th>
			<th>Categoría</th>
			<th></th>
		</thead>
		<tbody>
			{% for investigador in investigadores %}
				<tr id="delete-{{ investigador.idInvestigador }}" data-id="{{ investigador.idInvestigador }}">
					<td>{{ investigador.nombre }}</td>
					<td>{{ investigador.nombre }}</td>
					<td>{{ investigador.categoria }}</td>
					<td><a href="modificarInvestigador.php?idInvestigador={{ investigador.idInvestigador }}"><i class="fa fa-edit"></i>Editar</a></td>
					<td><a class="delete" data-id="{{ investigador.idInvestigador }}" href="#"><i class="fa fa-trash"></i>Eliminar</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
