{% extends "visitorTemplateView.html" %}

{% block content %}
	<span class="title">Conectarse</span><br /><br />
	{% if error %}
		<p id='error'>Los datos ingresados no son correctos </p>
	{% endif %}
	<form id="formLogin" method="post" action="../controller/loginCheckController.php">
		<label for="nombreUsuario">Nombre de usuario</label>
		<input id="nombreUsuario" name="nombreUsuario" type="text" required title="Ingresar nombre de usuario"><br /><br />
		<label for="pass">Contrase&ntilde;a</label>
		<input id="pass" name="contrasena" type="password" required title="Ingresar contrase&ntilde;a"><br /><br />
		<input id="iniciarSesion" type="submit" class="button" value="Conectar"> <input class="button" type="reset">&nbsp;&nbsp;<span id="infoLogin"></span><br />
	</form>
{% endblock %}