{% extends 'base-admin.html' %}

{% block js %}
    <script>
        $(document).ready(function(){

        	var ids = $('#idInv').val().split(',');
        	var selectedInvestigadores = [];
	        getInvestigadores({ success : function(investigadores){
	            var valorIdItem;
	            var investigadoresByName = {};
	            var names = [];
	            investigadores.forEach(function(investigador){
	                names.push(investigador.nombre);
	                investigadoresByName[investigador.nombre] = investigador;
	                if ( ids.indexOf(investigador.idInvestigador) !== -1 ){
	                	selectedInvestigadores.push(investigador);
	                }
	            });
	            $("#nombreInv").tagit({
	                singleField : true,
	                // singleFieldNode : $('#idInv'),
	                availableTags :  names,
	                beforeTagAdded: function(event, ui) {
	                    if ( !investigadoresByName[ui.tagLabel] ){ return false; }
	                    if ( selectedInvestigadores.indexOf(investigadoresByName[ui.tagLabel]) === -1 ) {
	                    	selectedInvestigadores.push(investigadoresByName[ui.tagLabel]);
	                    }
	                },
	                beforeTagRemoved: function(event, ui) {
	                    var investigador = investigadoresByName[ui.tagLabel];
	                    selectedInvestigadores.splice(selectedInvestigadores.indexOf(investigador), 1);
	                },
	            });
	        }});

            $('#job-new').submit(function(){
                // if ( !selectedInvestigadores.length ){
                //     alert('Debe seleccionar al menos un investigador');
                //     return false;
                // }
                var ids = [];
                selectedInvestigadores.forEach(function(investigador){
                    ids.push(investigador.idInvestigador);
                });
                $('#idInv').val(ids.join(','));
                return true;
            });
        });

    </script>
{% endblock js %}



{% block content %}
	<h3>Modificar Trabajo</h3>
	<form id="job-new" class="form-admin" action="modificarTrabajoController.php" method="POST" enctype="multipart/form-data">
		<div>
			<label>Nombre
				<input type="text" name="name" id="name" value="{{ nombreTrabajo }}">
			</label>
			<label>Año
				<input type="text" name="year" id="year" value="{{ ano }}">
			</label>
			<label>DOI
				<input type="text" name="doi" id="doi" value="{{ doi }}">
			</label>
			<label>Investigador
				<ul id="nombreInv">
					{% for investigador in investigadores %}
						<li>{{ investigador.nombre }}</li>
					{% endfor %}	
				</ul>
				<input type="hidden" name="idInv" id="idInv" value="{{ idInv }}">
			</label>
			<input type="hidden" name="idTrabajo" id="idTrabajo" value="{{ idTrabajo }}">
		</div>
		<button class="waves-effect waves-light btn btn-tiny">Modificar</button>
	</form>
{% endblock %}
