{% extends 'base-admin.html' %}

{% block js %}
    <script>
        getInvestigadores({ success : function(investigadores){
            var sourceInvestigadores = [];
            investigadores.forEach(function(investigador){
                sourceInvestigadores.push({ value : investigador.idInvestigador, label : investigador.nombre })
            });
            $("#tag").autocomplete({
               source: sourceInvestigadores,
               minLength : 0,
               focus: function( event, ui ){
                    $("#tag").val(ui.item.label);
                    return false;
                },
                select: function( event, ui ) {
                    $("#tag").val(ui.item.label);
                    $("#idInvestigador").val(ui.item.value);
                    return false;
                }
            });
        }});
        $(document).ready(function(){
            $('#project-new').submit(function(){
                if ( !$('#idInvestigador').val() ){
                    alert('No ha seleccionado el investigador');
                    return false;
                }
                return true;
            });
        });
    </script>
{% endblock js %}

{% block content %}
	<h3>Modificar Proyecto</h3>
	<form id="project-new" class="form-admin" action="modificarProyectoController.php" method="POST" enctype="multipart/form-data">
		<div>
			<label>Nombre
				<input type="text" name="name" id="name" value="{{ nombreProyecto }}">
			</label>
			<label>Año
				<input type="text" name="year" id="year" value="{{ ano }}">
			</label>
			<input type="hidden" name="idInvestigador" id="idInvestigador" value="{{ idInvestigador }}">
			<label>Investigador
				<input type="text" id="tag" value="{{ nombreInvestigador }}">
			</label>
			<input type="hidden" name="idProyecto" id="idProyecto" value="{{ idProyecto }}">
		</div>
		<button class="waves-effect waves-light btn btn-tiny">Modificar</button>
	</form>
{% endblock %}
