{% extends 'base-admin.html' %}

{% block content %}
	<h3>Modificar investigador</h3>
	<form id="product-new" class="form-admin" action="modificarInvestigadorController.php" method="POST" enctype="multipart/form-data">
		<div>
			<label>Nombre
				<input type="text" name="name" id="name" value="{{ nombre }}">
			</label>
			<label>Título
				<input type="text" name="degree" id="degree" value="{{ titulo }}">
			</label>
			<label>Area de Investigación
				<input type="text" name="researchArea" id="researchArea" value="{{ areaInvestigacion }}">
			</label>
			<label>Dependencia
				<input type="text" name="dependence" id="dependence" value="{{ dependencia }}">
			</label>
			<label>Categoría
				<select name="selectCategoria" id="selectCategoria">
					<option value="Administración">Administración</option>
					<option value="Investigador">Investigador</option>
					<option value="Personal de apoyo">Personal de apoyo</option>
					<option value="Becario">Becario</option>
					<option value="Pasante">Pasante</option>
				</select>
				<input type="hidden" id="selectCategoriaAux" value="{{ categoria }}">
			</label>
			<label>Actividad
				<input type="text" name="activity" id="activity" value="{{ actividad }}">
			</label>
			<label>Email
				<input type="text" name="email" id="email" value="{{ email }}">
			</label>
			<label>Teléfono
				<input type="text" name="phone" id="phone" value="{{ telefono }}">
			</label>
			<label>Imagen <br/>
				<img id="exampleIMG" src="{{ rutaImagen }}" class="imgIntegrante"/>
				<input type="file" name="archivo" id="archivo" onChange="readIMG(this)">
				<input type="hidden" name="rutaArchivo" id="rutaArchivo" value="{{ rutaImagen }}">
			</label>
			<input type="hidden" name="idInvestigador" id="idInvestigador" value="{{ idInvestigador }}">
		</div>
		<button class="waves-effect waves-light btn btn-tiny">Modificar</button>
	</form>
{% endblock %}
