{% extends 'base-admin.html' %}
{% block css %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
{% endblock %}

{% block js %}
	<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script> 
	<script>
		$(document).ready(function(){
		    $('.admin-table').DataTable({
		    	"language": {
		            "lengthMenu": "Mostrar _MENU_ resultados por página",
		            "zeroRecords": "Sin resultados",
		            "search": "Filtrar",
		            "info": "Mostrando página _PAGE_ de _PAGES_",
		            "infoEmpty": "No hay resultados disponibles",
		            "infoFiltered": "(filtrados de un total de _MAX_ resultados)"
	        	}
		    });
		});
	</script>
{% endblock %}

{% block content %}
	<a href="crearProyecto.php" class="admin-btn"><i class="fa fa-plus-circle"></i>Crear proyecto</a>
	<br/><br/>
	
	
	<table class="admin-table stripe">
		<thead>
			<th>Año</th>
			<th>Nombre</th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			{% for proyecto in proyectos %}
				<tr id="delete-{{ investigador.idInvestigador }}" data-id="{{ investigador.idInvestigador }}">
					<td>{{ proyecto[2] }}</td>
					<td>{{ proyecto[3] }}</td>
					<td><a class="button" href="modificarProyecto.php?idProyecto={{ proyecto[0] }}">Modificar</a></td>
					<td><a class="button" href="javascript:borradoProyecto({{ proyecto[0] }})">Eliminar</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
