{% extends 'base-admin.html' %}
{% block css %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
{% endblock %}

{% block js %}
    <script src="js/val.js"></script> 
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script> 
    <script>
        $(document).ready(function(){
            $('.admin-table').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ resultados por página",
                    "zeroRecords": "Sin resultados",
                    "search": "Filtrar",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay resultados disponibles",
                    "infoFiltered": "(filtrados de un total de _MAX_ resultados)"
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <a href="crearTrabajo.php" class="admin-btn"><i class="fa fa-plus-circle"></i>Crear trabajo</a>

    <table class="admin-table stripe">
        <thead>
            <th>Nombre</th>
            <th>Año</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for trabajo in trabajos %}
                <tr>
                    <td>{{ trabajo.nombreTrabajo }}</td>
                    <td>{{ trabajo.ano }}</td>
                    <td><a class="button" href="modificarTrabajo.php?idTrabajo={{ trabajo[0] }}">Modificar</a></td>
                    <td><a class="button" href="javascript:borradoTrabajo({{ trabajo[0] }})">Eliminar</a></td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
{% endblock %}
