{% extends 'base.html' %}
{% block content %}
      <div id="parallax" class="banner-seccion">
        <img src="imagenes/bacteriologia-banner.jpg">
        <h1>Bacteriología</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Objetivos</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>En el Departamento de Microbiología se realizan:Estudios de poblaciones de bacterias acuáticas, su estructura, biomasa, numerosidad, actividad y producción. Procesos microbiológicos que ocurren en los ambientes acuáticos bajo diferentes condiciones físico - químicas y los compuestos que intervienen en la actividad metabólica microbiana. Presencia y numerosidad de bacterias indicadoras de contaminación fecal, de contaminación con hidrocarburos y de algunas bacterias patógenas específicas u oportunistas en muestras de agua. Se realizan ensayos de laboratorio de biodegradación de compuestos y ensayos de efecto de toxicidad aguda de una sustancia o muestra de agua, sobre poblaciones de bacterias de alta sensibilidad. Con estas herramientas metodológicas, se realizan estudios en cuerpos de agua naturales para determinar su estado trófico y evaluar los posibles efectos de la actividad humana por aportes de nutrientes, materia orgánica, bacterias potencialmente patógenas o compuestos tóxicos. Análisis de calidad bacteriológica de aguas potables o de uso recreacional y asesoramientos sobre funcionamiento de plantas de tratamiento biológico de efluentes. Se desarrolla una línea de investigación sobre el uso de humedales como tecnología alternativa para el tratamiento de efluentes domésticos en la Provincia de Buenos Aires.</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Integrantes</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>RESPONSABLE:</strong> MARIÑELARENA, A. J. (Inv. Adjunto), DI SIERVI M. A. (PROF. PRINCIPAL), DONADELLI J.L.(PROF. PRINCIPAL), DI GIORGI, H. D. (PROF. ADJUNTO), SUAREZ, J. (BECARIA).</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo"><a href="#">Proyectos</a></h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
  {% endblock %}