<!DOCTYPE html>
<html lang="en">
  <head>
    <title>:: Instituto de Limnología Dr. Raúl A. Ringuelet</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/flexslider.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <link rel="stylesheet" type="text/css" href="css/calendario.css" />
    <link rel="stylesheet" type="text/css" href="estilos.css" />
    {% block css %} {% endblock %}
    <base href="/ilpla/"></base>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/bxslider.js"></script>
    <script type="text/javascript" src="js/flexslider.js"></script>
    <script type="text/javascript" src="js/calendario.js"></script>
    <script type="text/javascript" src="js/funciones.js"></script>
    {% block js %} {% endblock %}
  </head>
  <body>
    {% include 'menu.html' %}
    <div class="content">
      {% block content %} 
      {% endblock %}
      {% block footer %} 
        <footer>
          <div class="container-fluid">
            <h4>ILPLA - Instituto de Limnología "Dr. Raúl A. Ringuelet"</h4>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <p><i class="fa fa-map-marker"></i> Boulevard 120 y 62 - Casilla de Correo N° 712 La Plata (1900)</p>         
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <p><i class="fa fa-phone-square"></i> Tel/Fax: 0221-422-2775 / 422-2832</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <p><a href="http://www.facebook.com/ilpla.conicet.unlp/" target="_blank"><i class="fa fa-facebook-official"></i> Seguinos en Facebook</a></p>
            </div>
          </div>
          <p class="copyright">© Copyright 2015 ILPLA</p> 
        </footer>
      {% endblock %}
    </div>
	</body>
</html>