<!doctype html>
<html>
<head>
	<title>{% block title %}:: ILPLA {% endblock %}</title>
	<meta charset="utf-8" />
	<link href="imagenes/favicon.ico" rel="shortcut icon"  type="image/x-icon" />
	<meta name="description" content="">
	<meta name="author"   content="Diego Silva DCV diegosilvadcv.com.ar">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/admin.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/jquery-ui.css"> -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link href="css/tag-it/jquery.tagit.css" rel="stylesheet" type="text/css">
	{% block css %} {% endblock %}
	
	<!-- Scripts -->
	<script src="js/lib/jquery/jquery-1.10.2.js"></script>
	<script src="js/lib/jquery/jquery-ui.js"></script>
	<script src="js/lib/tag-it/js/tag-it.js" type="text/javascript" charset="utf-8"></script>

	<script src="js/val.js"></script> 
	{% block js %} {% endblock %}

</head>

<body>
	<header>
		<h1>ILPLA | <span>Panel de Administración</span></h1>
	</header>
	<div class="container-fluid">
		<div class="sidebar">
			<div class="logo-admin">
				<a href=""><img src="imagenes/lemon-logo-blanco.svg"></a>
			</div>
			{% if logged %}
				<nav class="nav-principal">
					<ul>
						<li><a href="integrantes.php"><i class="fa fa-clock-o"></i>Integrantes</a></li>
					</ul>
					<ul>
						<li><a href="trabajos.php"><i class="fa fa-clock-o"></i>Trabajos</a></li>
					</ul>
					<ul>
						<li><a href="proyectos.php"><i class="fa fa-clock-o"></i>Proyectos</a></li>
					</ul>
				</nav>

				<div class="acciones">
					<ul>
						<li><a href="admin/panel"><i class="fa fa-gear"></i>Configuración</a></li>
						<li><a href="cerrarSesion.php"><i class="fa fa-sign-out"></i>Cerrar sesión</a></li>
					</ul>	
				</div>
			{% endif %}
		</div>
		<div class="wrapper">
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>
</html>