{% extends 'base.html' %}
{% block content %}
      <div id="parallax" class="banner-seccion">
        <img src="imagenes/bentos-banner.jpg">
        <h1> Laboratorio de Bentos</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Objetivos</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>El Laboratorio de Bentos desarrolla estudios orientados a completar la información referida a la biodiversidad de macroinvertebrados bentónicos y presentes en macrófitas, como así también el conocimiento de las respuestas de las comunidades a disturbios antropogénicos. Mediante esta información se busca lograr la caracterización ecológica de ríos y arroyos bonaerenses y Río de la Plata, a través de índices bióticos de polución y diversidad, otorgando una herramienta para la evaluación y gestión de los sistemas lóticos pampásicos.</p><a href="bentos.html"><strong>VOLVER A LÍNEA DE INVESTIGACIÓN</strong>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Integrantes</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>RESPONSABLE:</strong> RODRIGUES CAPÍTULO, A. (Inv. Principal). <br> INTEGRANTES: PAGGI, A. C. (Inv. Independiente), AMBROSIO, E. S. (Becaria); ARMENDÁRIZ, L.C. (Doc. Investigador), OCÓN, C.(Inv. Asistente), LAVARÍAS, S. (Inv. Adjunto), FERREIRA, A.C. (Becaria); DELVATI COLPO, K. (Inv. Asistente), SPACCESI, F. (Prof. Adjunto), PAZ, E. (Becaria), CORTESE, B. (Becaria), RODRIGUEZ, M. (Becaria); ALTIERI, P. (Pasante) </p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo"><a href="#">Proyectos</a></h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
  {% endblock %}