{% extends 'base.html' %}
{% block content %}
      <div id="parallax" class="banner-biblioteca">
        <h1>BIBLIOTECA DEL ILPLA</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
           <h3 class="subtitulo">Reseña</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>La biblioteca del Instituto "Dr. Raúl A. Ringuelet" se viene gestando desde 1974 gracias al aporte permanente del canje de publicaciones con instituciones similares del país y del extranjero, así como a través de donaciones tanto de publicaciones periódicas como de obras fundamentales para la limnología y la ecología. Fue el Dr. Raúl A. Ringuelet quien contribuyó con sus primeros trabajos a consolidar lo que hoy podemos llamar una biblioteca especializada. Publicaciones del Dr. Raúl A. Ringuelet.</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Integrantes</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <p><strong>RESPONSABLE:</strong> PAGGI A. C. (Inv. Independiente). Integrantes y Colaboradores: MONTI C. (Téc. Asistente)</p>
        </div>
      
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Buscador</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <form class="buscador-biblioteca">
            <input type="text">
            <button>Realizar búsqueda aquí</button>
          </form>
        </div>
      </div>

    <script type="text/javascript">
      $('#parallax').parallax("50%", 0.2);
    </script>

  {% endblock %}