{% extends 'base.html' %}
{% block content %}
      <div class="banner-seccion">
        <img src="imagenes/ciclos-laboratorio.jpg">
        <h1>Laboratorio de Ciclos Biogeoquímicos</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Objetivos</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>El objetivo del laboratorio es determinar el efecto de las aplicaciones de pesticidas en los cultivos sobre la 
          fauna de los arroyos adyacentes  como así también evaluar la influencia de los fertilizantes 
          aplicados sobre la calidad del agua, especialmente la concentración de nutrientes (amonio, 
          nitrato, fósforo reactivo soluble).
          En los arroyos adyacentes a cultivos las lluvias posteriores a las aplicaciones de pesticidas 
          arrastran una fracción variable de los mismos produciendo pulsos de toxicidad en 
          coincidencia con los eventos de escorrentía superficial. Se estudia la ocurrencia de los 
          pesticidas más comúnmente utilizados en nuestro medio: cipermetrina, chlorpyrifos y 
          endosulfan (recientemente prohibido)  en sedimentos de los arroyos. Se estudia la 
          toxicidad en el agua del cauce y de escorrentía superficial para organismos comunes en la 
          fauna regional, tales como el anfípodo Hyallela curvispina, el pez Cnesterodon 
          decemaculatus y el cladócero Scimocephalus sp. Se determina para estos organismos la 
          dosis letal 50% de los pesticidas mas utilizados. Se estudia el efecto de los pulsos de 
          toxicidad en la densidad y composición taxonómica de la fauna en los arroyos con distinto 
          uso del suelo.</p><a href="ciclos-biogeoquimicos.html"><strong>VOLVER A LÍNEA DE INVESTIGACIÓN</strong></a>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Integrantes</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>Responsable:</strong> Bonetto, C. (Inv. Principal). Integrantes: MUGNI, H. (Inv. Adjunto), FANELLI, S. (Prof. Adjunto), PARACAMPO, A. (Inv. Asistente), GARCÍA, I. (Becario), MARROCHI,N. (Becaria), N. SCALICE (Becaria), A. M. SOLIS (Becaria), ARIAS, M. (Becaria); GALLIARI J. (Pasante), CABANELLAS, M. E. (Pasante).</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo"><a href="#">Proyectos</a></h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>(VER PROYECTO)</p>
        </div>
      </div>

  {% endblock %}