{% extends 'base.html' %}
{% block content %}
      <div id="parallax" class="banner-seccion">
        <img src="imagenes/ciclos-banner.jpg">
    <h1>Estudio del efecto de nutrientes y pesticidas</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Objetivos</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>- Estudio del efecto de nutrientes y pesticidas en cursos de agua de la llanura pampeana </strong>; esta línea de investigación incursiona en la investigación relacionada con el impacto que generan los nutrientes, como así también la toxicidad que producen los pesticidas a través de la escorrentía superficial de áreas agrícolas sobre la biota de los cursos de agua, valiéndose de ensayos de toxicidad sobre diferentes especies para la comprobación de las hipótesis que se plantean.<a href="ciclos-laboratorio.html"><strong>Click para acceder al Laboratorio</strong></a></p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Integrantes</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>Responsable:</strong> Bonetto, C. (Inv. Principal). Integrantes: MUGNI, H. (Inv. Adjunto), FANELLI, S. (Prof. Adjunto), PARACAMPO, A. (Inv. Asistente), GARCÍA, I. (Becario), MARROCHI,N. (Becaria), N. SCALICE (Becaria), A. M. SOLIS (Becaria), ARIAS, M. (Becaria); GALLIARI J. (Pasante), CABANELLAS, M. E. (Pasante).</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo"><a href="#">Proyectos</a></h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>

  {% endblock %}