{% extends 'base.html' %}
{% block content %}
      <div class="banner-seccion">
        <img src="imagenes/peces-banner.jpg">
        <h1>CONTACTO</h1>
      </div>
      <div class="container-fluid">
        <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
          <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zgugPgEyS0VU.kGJYQ_cGk2IA" width="100%" height="480"></iframe>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
          <form class="form-contacto" method="POST" action="contacto">
            <label>*Nombre y apellido</label>
            <input type="text" name="nombre" required>
            <label>Ciudad/Provincia/País</label>
            <input type="text" name="lugar">
            <label>Teléfono</label>
            <input type="text" name="telefono">
            <label>*Email</label>
            <input type="email" name="email" required>
            <label>*Su consulta</label>
            <textarea required name="mensaje"></textarea>
            <button>Enviar</button>
          </form>
        </div>
      </div>
      <div class="container-fluid">
        <div class="col-xs-12 datos-contacto">
          <h3>ILPLA</h3>

          <h4>Instituto de Limnología - Dr. Raúl A. Ringuelet - </h4>

          <p>CONICET La Plata - FCNyM (UNLP)</p>

          <p>Boulevard 120 y 62 - La Plata - Bs. As. - Argentina</p>

          <p>Tel. (0221) 422-2775/2832</p>

          <p>secretaria@ilpla.edu.ar</p>
        </div> 
      </div>

  {% endblock %}