{% extends 'base.html' %}
{% block content %}
      <div id="parallax" class="banner-seccion">
        <img src="imagenes/cuenca-banner.jpg">
        <h1>CUENCA DEL SALADO</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Objetivos</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>Los integrantes de la Sección están abocados al estudio de limnología aplicada del río Salado y 
        lagunas de su cuenca. El río Salado es el principal río de la provincia de Buenos Aires con una 
        cuenca extensa (140.000 km2) e importante ya que constituye junto con el resto de la región 
        pampeana una de las principales productoras de alimentos del país. El río cumple una función 
        ecológica destacada como vehículo de contaminantes, fertilizantes y plaguicidas que pueden ser 
        retenidos o metabolizados en el sistema (ecosistema de servicio) antes de su desembocadura en el 
        Río de la Plata (Bahía de Samborombón). Se efectúa el análisis de las características físicas, 
        químicas y biológicas del río y de lagunas vinculadas en relación tanto a fenómenos naturales 
        (inundaciones, sequías) como a aportes que reciben de diversas actividades humanas en su cuenca 
        (efluentes cloacales, industriales, actividades agropecuarias) que pueden alterar la calidad de sus 
        aguas. Este conocimiento básico es esencial para reconocer las respuestas de estos ecosistemas 
        frente a disturbios que provoca el uso actual de la tierra y las que ocurren por acciones planificadas de obras hidráulicas de regulación y manejo que afectan el cauce principal y su grado de conexión con las lagunas. El estudio de las lagunas incluye además dos procesos de deterioro (eutrofización y salinización secundaria) producidos por actividades humanas y la búsqueda de medidas correctivas o paliativas. Es de nuestro interés analizar la posibilidad de disminuir la eutrofización en estas lagunas aplicando conceptos y técnicas desarrollados en las últimas décadas en países europeos que han logrado mejorar la calidad del agua de lagos someros aprovechando que en forma natural alternan dos fases o períodos de equilibrio con características fisicoquímicas y biológicas diferentes. Estas investigaciones se complementan con experiencias de microcosmos y 
        mesocosmos en laboratorio, donde se simulan tanto aspectos de relaciones tróficas como de 
        respuesta de comunidades acuáticas a impactos antrópicos.
</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Integrantes</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>Responsable:</strong> CLAPS, M.C. Integrantes: GABELLONE, N., SOLARI, L., BENÍTEZ, H., G., FERRANDO, N., GARCÍA DE SOUZA, J., ALVAREZ, M.F., DÍAZ, A. R.</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo"><a href="#">Proyectos</a></h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>- PICT-2012-0228 Estudio de las interacciones fluvio-lacustres en la cuenca del río Salado (Buenos Aires): experiencias de laboratorio y microcosmos.</strong> (VER PROYECTO).<br>
         <strong> -PROYECTO UNLP 11/737 Estudio de las interacciones fluvio-lacustres en la cuenca del río Salado (Buenos Aires): experiencias de laboratorio y microcosmos.</strong>(VER PROYECTO)</p>
        </div>
      </div>

  {% endblock %}