{% extends 'base.html' %}
{% block content %}
      <div id="parallax" class="banner-seccion">
        <img src="imagenes/entomologia-banner.jpg">
        <h1>Entomología</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Objetivos</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>Se llevan a cabo investigaciones relativas a la biodiversidad de la entomofauna acuática de diferentes áreas de la Argentina, particularmente de la Patagonia, Esteros del Iberá y de la provincia de Buenos Aires. Las mismas contemplan la confección de inventarios de especies, y la realización de revisiones sistemáticas de diferentes taxa (particularmente Odonata, Ephemeroptera, algunos grupos de Belostomatidae, y dípteros de la familia Ceratopogonidae), así como diferentes análisis biogeográficos que tuvieron a la Patagonia como área central de estudio. Las investigaciones que se desarrollan en relación a la diversidad de coleópteros acuáticos y dípteros culícidos son: sistemática de Hydrophilidae y Gyrinidae, ciclos biológicos, y relaciones tróficas entre los coleópteros y los estados inmaduros de los culícidos. Respecto de los culícidos, se investigan los mecanismos de regulación natural de la población de Ochlerotatus albifasciatus y aspectos de su biología reproductiva.</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Integrantes</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>Responsable:</strong> SPINELLI, G. R. (Inv. Principal). Integrantes: RAMOS, L., LOZANO, F., MAUAD, M. SIRI, A., BAZANI, J.L., DONATO, M., DEL PALACIO, A., FUENTES, M. C.</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo"><a href="#">Proyectos</a></h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>

{% endblock %}