{% extends 'base.html' %}
{% block content %}
      <div id="parallax" class="banner-seccion">
        <img src="imagenes/insectos-banner.jpg">
        <h1>Eventos</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="calendar calendar-first" id="calendar_first">
            <div class="calendar_header">
                <button class="switch-month switch-left"> <i class="fa fa-chevron-left"></i></button>
                 <h2></h2>
                <button class="switch-month switch-right"> <i class="fa fa-chevron-right"></i></button>
            </div>
            <div class="calendar_weekdays"></div>
            <div class="calendar_content"></div>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <div class="evento">
            <p>15 de Noviembre | 2015</p>
            <h3>Nombre del evento</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div> <!-- cierra evento -->

          <div class="evento">
            <p>22 de Noviembre | 2015</p>
            <h3>Nombre del evento</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div> <!-- cierra evento -->
        </div>
      </div>
      
  {% endblock %}