{% extends 'base.html' %}
{% block content %}
      <div id="parallax" class="banner-seccion">
        <img src="imagenes/herpetologia-banner.jpg">
        <h1>Herpetología</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Objetivos</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>El área de herpetología tiene como objetivo realizar un abordaje integral (morfológico y ecológico) de grupos de herpetozoos, en particular de anfibios anuros y tortugas dulceacuicolas.</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Integrantes</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong> Responsable:</strong> ALCALDE, L. (Inv. Independiente). Integrantes: CASSANO M. J., SANCHEZ, M. R.</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo"><a href="#">Proyectos</a></h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>- 0480 Alcalde, Leandro, Julieta Sanchez, and Mario C. Bravi. 2013. Ecology, population genetics and distribution of Acanthochelys pallidipectoris across the species range in the dry and humid Chaco Eco-regions from Argentina. (VER PROYECTO)</p>
        </div>
      </div>

  {% endblock %}