{% extends 'base.html' %}
{% block content %}
      <div id="parallax" class="banner-seccion">
        <img src="imagenes/ictiologia-banner.jpg">
        <h1>Ictiología</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Objetivos</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>Se realizan estudios dirigidos a profundizar el conocimiento taxonómico y biogeográfico de la Ictiofauna Continental Argentina. Estas investigaciones han permitido avances significativos a través del estudio de una taxonomía precisa basada en caracteres anatómicos (óseos y musculares) y la evaluación de la biodiversidad íctica en diversas cuencas de nuestro territorio.</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Integrantes</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>Responsable:</strong> PROTOGINO, L. (Prof. Principal)</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo"><a href="#">Proyectos</a></h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>

{% endblock %}