<!DOCTYPE html>
<html lang="en">
  <head>
    <title>:: Instituto de Limnología Dr. Raúl A. Ringuelet</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/flexslider.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <link rel="stylesheet" type="text/css" href="estilos.css" />
    <base href="/ilpla/"></base>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/flexslider.js"></script>
    <script type="text/javascript" src="js/funciones.js"></script>
  </head>
  <body>
    {% include 'menu.html' %}
		<div id="main" role="main">
      <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li>
  	    	    <img src="imagenes/novedad1.jpg" />
              <div class="flex-caption animated bounceInDown">
              	<h3>Ciclos de Charlas: Gestión de los Recursos Hídricos Dra.Julia Toja</h3>
              	<p>En los ciclos de charlas del ILPLA la Dra. Julia Toja brindo una conferencia sobre los Recursos Hídricos.</p>
              	<a href="novedades">Ver más</a>
              </div>
  	    		</li>
  	    		<li>
  	    	    <img src="imagenes/novedad2.jpg" />
              <div class="flex-caption">
              	<h3>Agasajo y cambio de autoridades en el ILPLA</h3>
              	<p>El Instituto de Limnología, brindó un agasajo en homenaje al cambio de autoridades, al Dr. Alberto Rodrigues Capítulo y la Dra. Cristina Claps, por su gestión en el ILPLA, junto con el recibimiento del nuevo Consejo Directivo.</p>
              	<a href="novedades">Ver más</a>
              </div>
  	    		</li>
            <li>
              <img src="imagenes/novedad3.jpg" />
              <div class="flex-caption">
                <h3>Semana de la Ciencia</h3>
                <p>El ILPLA fue parte de las actividades ofreciendo un taller interactivo organizado por el Área de Extensión del Instituto denominado "Explorando el ambiente acuático y sus habitantes". </p>
                <a href="novedades">Ver más</a>
                <li>
              <img src="imagenes/novedad4.jpg" />
              <div class="flex-caption">
                <h3>Agasajo y cambio de autoridades en el ILPLA</h3>
                <p>El Instituto de Limnología, brindó un agasajo en homenaje al cambio de autoridades, al Dr. Alberto Rodrigues Capítulo y la Dra. Cristina Claps, por su gestión en el ILPLA, junto con el recibimiento del nuevo Consejo Directivo.</p>
                <a href="novedades">Ver más</a>
              </div>
            </li>
              </div>
            </li>
          </ul>
        </div>
      </section>      
    </div>
	</body>
</html>