{% extends 'base.html' %}
{% block content %}
      <div id="parallax" class="banner-seccion">
        <img src="imagenes/insectos-banner.jpg">
        <h1>Ecología de Insectos</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Objetivos</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>En el Laboratorio de Ecología de Insectos se desarrollan en la actualidad, estudios referidos a: Ecología de Culicidae (Diptera) y ecología de insectos habitantes de micro-ambientes acuáticos.<br>Las líneas de investigación que se desarrollan en el laboratorio, están abocadas a estudiar y comprender las comunidades (composición, estructura e interrelaciones inter e intra-específicas) en donde se desarrollan los estados inmaduros de Culicidae, y la dinámica de las poblaciones de las especies nativas e invasoras.</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Integrantes</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>Responsable:</strong> CAMPOS, R. (Inv. Independiente). Integrantes: DI BATTISTA, C. (Becario)</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo"><a href="#">Proyectos</a></h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>-" Ecología invernal de Aedes aegypti en la provincia de Buenos Aires: límite térmico para el 

desarrollo y persistencia interanual."</strong><br> PICT-2012-1254, FONCYT. (VER PROYECTO).<br><strong>-" Susceptibilidad al parasitismo por Strelkovimermis spiculatus (Nematoda: Mermithidae) y alteración del comportamiento en larvas de Ochlerotatus albifasciatus (Diptera: Culicidae) 
provenientes de huevos de diferentes edades."</strong> PIP (Cód.) 11220120100399. (VER PROYECTO)</p>
        </div>
      </div>

{% endblock %}