{% extends 'base.html' %}
{% block content %}
      <div class="banner-seccion" id="limnoogia">
        <img src="imagenes/institucional-limnologia-banner.jpg">
        <h2>La Limnología</h2>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>La limnología es una disciplina científica que se encarga del estudio de los ecosistemas acuáticos continentales: es decir, las aguas continentales tales como,  ríos, lagos, humedales, embalses, estanques, aguas subterráneas, arroyos y estuarios. Muchas veces se utiliza el termino freshwater science -estudio de agua dulce- lo cual resulta erróneo ya que el estudio de la limnología comprende todo tipo de aguas continentales tanto dulces, como saladas y abarca todos los aspectos biológicos, físicos, químicos e hidrológicos de estas aguas. <br><strong>La palabra limnología deriva del griego λίμνη, limne, "lago" y λόγος, logos, "conocimiento"</strong><br>

        <h3><p>¿Por qué es importante?</p></h3><br>
        Siendo el agua uno de los recursos más importantes para el bienestar de la humanidad, cuanto mayor sea nuestra comprensión sobre sus componentes, comunidades y mecanismos, mayor será la probabilidad de predecir con precisión patrones de eventos dentro de los ecosistemas acuáticos en respuesta a manipulaciones y perturbaciones humanas.</p>        
        </div>
      </div>
      
      <div class="banner-seccion" id="historia">
        <img src="imagenes/institucional-historia-banner.jpg">
        <h2>HISTORIA DEL ILPLA</h2>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
       
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>El Instituto de Limnología "Dr. Raúl A. Ringuelet" se crea en noviembre del año 1968. Un numeroso grupo de investigadores integrado principalmente por docentes y estudiantes avanzados de la Facultad de Ciencias Naturales y Museo y dirigidos por el Dr. Raúl A. Ringuelet, iniciaba las investigaciones multidisciplinarias e interdisciplinarias en cuerpos de agua continentales de la provincia de Buenos Aires. En 1972 pasa a integrar el sistema de institutos del Consejo Nacional de campaña de Investigaciones Científicas y Técnicas (CONICET).
          A partir del 29 de abril de 1983 lleva el nombre de su fundador, al cumplirse un año de su fallecimiento en la ciudad de Puerto Madryn.</p><h3>ACTUALIDAD</h3><p>En la actualidad, su sede se encuentra en la ciudad de La Plata en Boulevard 120 y 62 y cuenta con personal de distintos escalafones de la Carrera de Investigador y Personal de Apoyo del CONICET y de la Comisión de Investigaciones Científicas de la Provincia de Buenos Aires (CIC). Por otra parte, la gran mayoría han desarrollado y desarrolla actividades de grado y postgrado en la Facultad de Ciencias Naturales y Museo, así como en otras instituciones del país y del extranjero.</p>         
        </div>
      </div>
      <div class="container-fluid desarrollo" id="objetivos">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Objetivos</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>El Instituto de Limnología "Dr. Raúl A. Ringuelet" tiene como objetivo central el estudio ecológico de las aguas continentales de la Argentina a través de un enfoque integrado de los procesos físicos, químicos, geológicos y biológicos originados en los ambientes acuáticos. Los proyectos de investigación están dirigidos a: evaluación de la productividad biológica, caracterización química y física de las aguas, interacciones entre ecosistemas acuáticos y terrestres, composición y dinámica de las comunidades biológicas y adaptación de los organismos acuáticos. La transferencia de resultados está orientada a proveer las bases para el mantenimiento de la calidad, la biodiversidad y de un aprovechamiento sustentable de los humedales y otros ambientes acuáticos. Gran parte de sus actividades incluye identificar, diagnosticar y prescribir soluciones efectivas a problemas ambientales.</p> <img src="imagenes/lineas-cuadro.jpg" alt="Líneas de Investigacion">
        </div>
      </div>
      <div class="container-fluid desarrollo" id="autoridades">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Autoridades</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">          
          <p><h3>DIRECTOR</strong></h3></p><p><u>Dra. NORA, GÓMEZ (Investigador Principal)</u></p></a><br>
          <h3>VICEDIRECTOR</strong></h3><p><u>Dr. DARÍO C., COLAUTTI (Investigador Independiente)</u></p></a><br>
          <h3>CONSEJO DIRECTIVO</strong></h3><br>
          <p><strong>TITULARES</strong></p>
           <a href="autoridades/claps.html"><p><u>Dra. M. Cristina, Claps (Investigador Principal) </u></p></a>
           <a href="autoridades/alcalde.html"><p><u>Dr. Leandro, Alcalde (Investigador Adjunto) </u></p></a>
        <a href="autoridades/donato.html"><p><u>Dr. Mariano H., Donato (Investigador Adjunto) </u></p></a>
        <a href="autoridades/rodrigues.html"><p><u>Dr. Alberto, Rodrigues Capítulo (Investigador Principal)</u></p></a>
         <a href="autoridades/siri.html"><p><u>Dr. Augusto, Siri (Investigador Adjunto)  </u></p></a>
        <a href="autoridades/spinelli.html"><p><u>Dr. Gustavo R., Spinelli (Investigador Principal) </u></p></a>
         <a href="autoridades/ferrando.html"><p><u>Lic. Noelia S., Ferrando (Becario)</u></p></a>
         <a href="autoridades/monti.html"><p><u>Carolina, Monti (Personal de Apoyo)</u></p></a>
          <p><strong>SUPLENTES</strong></p>
          <a href="autoridades/gabellone.html"><p><u>Dr. Néstor Gabellone (Investigador Independiente)</u></p></a>
        <a href="autoridades/Mugni.html"><p><u>Dr. Hernán D., Mugni (Investigador Adjunto)</u></p></a>
        <a href="autoridades/dibattista.html"><p><u>Lic. Cristian, Di Battista (Becario)</u></p></a>
        <a href="autoridades/donadelli.html"><p><u>Lic. Jorge L., Donadelli (Personal de Apoyo)</u></p></a>

        </div>
      </div>

{% endblock %}