{% extends 'base.html' %}
{% block content %}
      <div class="banner-seccion" id="administracion">
        <img src="imagenes/administracion-banner.jpg">
        <h2>ADMINISTRACIÓN</h2>
      </div>
      <div class="container-fluid">
        {% for integrante in administracion %}
          <!-- comienza el bloque de un integrante -->
          <div class="row desarrollo">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
              <div class="integrante">
                <div class="foto-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <img src="{{ integrante.rutaImagen }}" class="img-responsive">
                </div>
                <div class="resumen-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <h3>{{ integrante.nombre }}</h3>
                  <p><b>Cargo:</b>{{ integrante.areaInvestigacion }}</p>
                  <p><b>Área:</b> {{ integrante.areaInvestigacion }}</p>
                  <p><b>Dependencia:</b> {{ integrante.dependencia }}</p>
                  <p><b>Email:</b> {{ integrante.email }}</p>
                </div>
                <div class="resumen-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <p><b>Teléfono:</b> {{ integrante.telefono }}</p>
                  <p><b>Email:</b> {{ integrante.email }}</p>
                  <a href="intregante/{{ integrante.idInvestigador }}">Ver más</a>
                </div>
              </div><!-- cierra integrante -->          

            </div>
          </div>
          <!-- termina el bloque de un integrante -->
        {% endfor %}
      </div>

      <div class="banner-seccion" id="investigadores">
        <img src="imagenes/investigadores-banner.jpg">
        <h2>INVESTIGADORES</h2>
      </div>
      <div class="container-fluid">
          {% for integrante in investigadores %}
          <!-- comienza el bloque de un integrante -->
          <div class="row desarrollo">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
              <div class="integrante">
                <div class="foto-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <img src="{{ integrante.rutaImagen }}" class="img-responsive">
                </div>
                <div class="resumen-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <h3>{{ integrante.nombre }}</h3>
                  <p><b>Cargo:</b>{{ integrante.areaInvestigacion }}</p>
                  <p><b>Área:</b> {{ integrante.areaInvestigacion }}</p>
                  <p><b>Dependencia:</b> {{ integrante.dependencia }}</p>
                  <p><b>Email:</b> {{ integrante.email }}</p>
                </div>
                <div class="resumen-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <p><b>Teléfono:</b> {{ integrante.telefono }}</p>
                  <p><b>Email:</b> {{ integrante.email }}</p>
                  <a href="intregante/{{ integrante.idInvestigador }}">Ver más</a>
                </div>
              </div><!-- cierra integrante -->          

            </div>
          </div>
          <!-- termina el bloque de un integrante -->
        {% endfor %}
      </div>

  <div class="banner-seccion" id="personal-apoyo">
    <img src="imagenes/personal-apoyo-banner.jpg">
        <h2>PERSONAL DE APOYO</h2>
  </div>
  <div class="container-fluid">
   {% for integrante in personal %}
      <!-- comienza el bloque de un integrante -->
      <div class="row desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <div class="integrante">
            <div class="foto-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <img src="{{ integrante.rutaImagen }}" class="img-responsive">
            </div>
            <div class="resumen-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <h3>{{ integrante.nombre }}</h3>
              <p><b>Cargo:</b>{{ integrante.areaInvestigacion }}</p>
              <p><b>Área:</b> {{ integrante.areaInvestigacion }}</p>
              <p><b>Dependencia:</b> {{ integrante.dependencia }}</p>
              <p><b>Email:</b> {{ integrante.email }}</p>
            </div>
            <div class="resumen-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <p><b>Teléfono:</b> {{ integrante.telefono }}</p>
              <p><b>Email:</b> {{ integrante.email }}</p>
              <a href="intregante/{{ integrante.idInvestigador }}">Ver más</a>
            </div>
          </div><!-- cierra integrante -->          

        </div>
      </div>
      <!-- termina el bloque de un integrante -->
    {% endfor %}
  </div>

  <div class="banner-seccion" id="becarios">
    <img src="imagenes/becarios-banner.jpg">
    <h2>BECARIOS</h2>
  </div>
  <div class="container-fluid">
     {% for integrante in becarios %}
      <!-- comienza el bloque de un integrante -->
      <div class="row desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <div class="integrante">
            <div class="foto-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <img src="{{ integrante.rutaImagen }}" class="img-responsive">
            </div>
            <div class="resumen-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <h3>{{ integrante.nombre }}</h3>
              <p><b>Cargo:</b>{{ integrante.areaInvestigacion }}</p>
              <p><b>Área:</b> {{ integrante.areaInvestigacion }}</p>
              <p><b>Dependencia:</b> {{ integrante.dependencia }}</p>
              <p><b>Email:</b> {{ integrante.email }}</p>
            </div>
            <div class="resumen-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <p><b>Teléfono:</b> {{ integrante.telefono }}</p>
              <p><b>Email:</b> {{ integrante.email }}</p>
              <a href="intregante/{{ integrante.idInvestigador }}">Ver más</a>
            </div>
          </div><!-- cierra integrante -->          

        </div>
      </div>
      <!-- termina el bloque de un integrante -->
    {% endfor %}
  </div>
  <div class="banner-seccion" id="pasantes">
    <img src="imagenes/pasantes-banner.jpg">
    <h2>PASANTES</h2>
  </div>
  <div class="container-fluid desarrollo">
    {% for integrante in pasantes %}
      <!-- comienza el bloque de un integrante -->
      <div class="row desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <div class="integrante">
            <div class="foto-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <img src="{{ integrante.rutaImagen }}" class="img-responsive">
            </div>
            <div class="resumen-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <h3>{{ integrante.nombre }}</h3>
              <p><b>Cargo:</b>{{ integrante.areaInvestigacion }}</p>
              <p><b>Área:</b> {{ integrante.areaInvestigacion }}</p>
              <p><b>Dependencia:</b> {{ integrante.dependencia }}</p>
              <p><b>Email:</b> {{ integrante.email }}</p>
            </div>
            <div class="resumen-integrante col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <p><b>Teléfono:</b> {{ integrante.telefono }}</p>
              <p><b>Email:</b> {{ integrante.email }}</p>
              <a href="intregante/{{ integrante.idInvestigador }}">Ver más</a>
            </div>
          </div><!-- cierra integrante -->          

        </div>
      </div>
      <!-- termina el bloque de un integrante -->
    {% endfor %}
  </div>
{% endblock %}