{% extends 'base.html' %}
{% block content %}

		<div class="container-fluid boxes">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box">
        <div class="overlay">
          <div class="box-links">
            <a href="peces">Investigación</a>
            <a href="peces-laboratorio">Laboratorio</a>
          </div>
        </div>
        <div class="area">
          <h2>ECOLOGÍA DE PECES</h2>
          <p>Dep. Biocenología</p>
        </div>
        <img src="imagenes/box-peces.jpg">        
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box">
        <div class="overlay">
          <div class="box-links">
            <a href="ciclos-biogeoquimicos">Investigación</a>
            <a href="ciclos-laboratorio">Laboratorio</a>
          </div>
        </div>
        <div class="area">
          <h2>CICLOS BIOGEOQUÍMICOS</h2>
          <p>Dep. Biocenología</p>
        </div>
        <img src="imagenes/box-biogeoquimicos.jpg">        
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box">
        <div class="overlay">
          <div class="box-links">
            <a href="bentos">Investigación</a>
            <a href="bentos-laboratorio">Laboratorio</a>
          </div>
        </div>
        <div class="area">
          <h2>BENTOS</h2>
          <p>Dep. Comunidades</p>
        </div>        
        <img src="imagenes/box-bentos.jpg">        
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box">
        <div class="overlay">
          <div class="box-links">
            <a href="plancton">Investigación</a>
            <a href="plancton-laboratorio">Laboratorio</a>
          </div>
        </div>
        <div class="area">
          <h2>PLANCTON Y BIOFILMS</h2>
          <p>Dep. Comunidades</p>
        </div> 
        <img src="imagenes/box-plancton.jpg">        
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box">
        <div class="overlay">
          <div class="box-links">
            <a href="insectos">Investigación</a>
            <a href="insectos-laboratorio">Laboratorio</a>
          </div>
        </div>
        <div class="area">
          <h2>ECOLOGÍA DE INSECTOS</h2>
          <p>Dep. Comunidades</p>
        </div> 
        <img src="imagenes/box-insectos.jpg">        
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box">
        <div class="overlay">
          <div class="box-links">
            <a href="cuenca-del-salado">Investigación</a>
            <a href="#">Laboratorio</a>
          </div>
        </div>
        <div class="area">
          <h2>CUENCA DEL SALADO</h2>
          <p>Dep. Comunidades</p>
        </div> 
        <img src="imagenes/box-micro.jpg">        
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box">
        <div class="overlay">
          <div class="box-links">
            <a href="bacteriologia">Investigación</a>
            <a href="bacteriologia-laboratorio">Laboratorio</a>
          </div>
        </div>
        <div class="area">
          <h2>BACTERIOLOGÍA</h2>
          <p>Dep. Microbiología</p>
        </div> 
        <img src="imagenes/box-bacteriologia.jpg">        
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box">
        <div class="overlay">
          <div class="box-links">
            <a href="entomologia">Investigación</a>
            <a href="entomologia-laboratorio">Laboratorio</a>
          </div>
        </div>
        <div class="area">
          <h2>ENTOMOLOGÍA</h2>
          <p>Dep. Sistemática</p>
        </div> 
        <img src="imagenes/box-entomologia.jpg">        
      </div>
      <div class="col-lg-3 col-lg-offset-3 col-md-4 col-sm-6 col-xs-12 box">
        <div class="overlay">
          <div class="box-links">
            <a href="herpetologia">Investigación</a>
            <a href="herpetologia-laboratorio">Laboratorio</a>
          </div>
        </div>
        <div class="area">
          <h2>HERPETOLOGÍA</h2>
          <p>Dep. Sistemática</p>
        </div> 
        <img src="imagenes/box-herpetologia.jpg">        
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 box">
        <div class="overlay">
          <div class="box-links">
            <a href="ictiologia">Investigación</a>
            <a href="ictiologia-laboratorio">Laboratorio</a>
          </div>
        </div>
        <div class="area">
          <h2>ICTIOLOGÍA</h2>
          <p>Dep. Sistemática</p>
        </div> 
        <img src="imagenes/box-ictiologia.jpg">        
      </div>
           
    </div>

{% endblock %}


    