{% extends 'base-admin.html' %}

{% block js %}
	<script src="js/md5.js"></script>
	<script>
		$(document).ready(function(){
			$('#form-login').submit(function(e){
				$('#password').val( $('#password').val().trim() );
				var hash = md5($('#password').val());
				$('#password').val(hash);
			});
		});
	</script>
	
{% endblock %}

{% block content %}

	<div class="cont">
	  <div class="demo">
	    <div class="login">
	    	<form id="form-login" action="login" method="POST" class="admin" >
		      <div class="login__check"></div>
		      <div class="login__form">
		        <div class="login__row">
		          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
		            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
		          </svg>
		          <input type="text" class="login__input name" placeholder="Usuario" name="username" id="username" autofocus required/>
		        </div>
		        <div class="login__row">
		          <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
		            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
		          </svg>
		          <input type="password" class="login__input pass" placeholder="Contraseña" name="password" id="password" required/>
		        </div>
		        <button type="submit" class="login__submit">Ingresar</button>
		      </div>
		    </form>
	    </div>    
	  </div>
	</div>
{% endblock %}
