<nav class="navbar">
      <h1>INSTITUTO DE LIMNOLOGÍA - DR. RAÚL A. RINGUELET <br>
          CONICET LA PLATA - FCNyM - UNLP</h1>
      <a class="menu-mobile" href="#" class="toggle-nav"><i class="fa fa-bars"></i></a>
    </nav>

    <div class="navbar-mobile">
      <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="institucional">Institucional</a></li>
        <li><a href="integrantes">Integrantes</a></li>
        <li><a href="investigaciones">Investigación</a></li>
        <li><a href="extension">Áreas de extensión</a></li>
        <li><a href="biblioteca_ilpla">Biblioteca</a></li>
        <li><a href="servicios">Servicios</a></li>
        <li><a href="contacto">Contacto</a></li>
        <li><a href="https://www.google.com/a/ilpla.edu.ar/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/a/ilpla.edu.ar/&ss=1&ltmpl=default&ltmplcache=2">Webmail</a></li>
      </ul>
    </div>

  	<div class="sidebar">
  		<a href="" class="logo-ilpla">
  			<img src="imagenes/logoilpla.png">
  		</a>
  		<div class="menu-toggle">        
        <a href="#"><p>MENÚ</p><img src="imagenes/bars.png"></a>
      </div>
      <div class="links">
        <a href="http://www.laplata-conicet.gov.ar/" target="_blank"><img src="imagenes/conicet.png"></a>
        <a href="http://www.unlp.edu.ar/" target="_blank"><img src="imagenes/unlp.png"></a>
      </div>
  		<div class="social">
  			<a href="http://www.facebook.com/ilpla.conicet.unlp/" title="Facebook"><img src="imagenes/facebook.png"></a>
  			<a href="https://www.google.com/a/ilpla.edu.ar/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/a/ilpla.edu.ar/&ss=1&ltmpl=default&ltmplcache=2" target="_blank" title="Webmail"><img src="imagenes/intranet.png"></a>
  		</div>
  	</div>
  	    <div class="menu">
      <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="institucional">Institucional</a>
          <ul>
            <li><a href="institucional#limnologia">La Limnología</li></a>
            <li><a href="institucional#historia">Historia del ILPLA</li></a>
            <li><a href="institucional#objetivos">Objetivos</li></a>
            <li><a href="institucional#autoridades">Autoridades</li></a>
          </ul>
        </li>
        <li><a href="integrantes">Integrantes</a>
          <ul>
            <li><a href="integrantes#administracion">Administración</li></a>
            <li><a href="integrantes#investigadores">Investigadores</li></a>
            <li><a href="integrantes#personal-apoyo">CPA</li></a>
            <li><a href="integrantes#becarios">Becarios</li></a>
            <li><a href="integrantes#pasantes">Pasantes</li></a>
          </ul>
        </li>
        <li><a href="investigaciones">Investigación</a></li>
        <li><a href="proyectos">Proyectos</a></li>
        <li><a href="extension">Área de extensión</a></li>
        <li><a href="#">Biblioteca</a>
          <ul>
            <li><a href="biblioteca_ilpla">Biblioteca del ILPLA</a></li>
            <li><a href="biologia-acuatica">Biología Acuática</a></li>
            <li><a href="revistas">Otras revistas</a></li>
            <li><a href="publicaciones">Publicaciones</a></li>
            <li><a href="descargas">Descargas</a></li>
          </ul>
        </li>
        <li><a href="servicios">Servicios</a></li>
        <li><a href="contacto">Contacto</a></li>
        <li><a href="https://www.google.com/a/ilpla.edu.ar/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/a/ilpla.edu.ar/&ss=1&ltmpl=default&ltmplcache=2">Webmail</a></li>
      </ul>
    </div>