{% extends 'base.html' %}
{% block content %}
      <div id="parallax" class="banner-seccion">
        <img src="imagenes/fondo_abstracto.jpg">
        <h1>Novedades | Eventos | Concursos</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="novedad"> <!-- empieza una novedad -->
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <h3>LUGAR, FECHA Y TÍTULO</h3>
            <p>El Laboratorio de Bentos desarrolla estudios orientados a completar la información referida a la biodiversidad de macroinvertebrados bentónicos y presentes en macrófitas, como así también el conocimiento de las respuestas de las comunidades a disturbios antropogénicos. Mediante esta información se busca lograr la caracterización ecológica de ríos y arroyos bonaerenses y Río de la Plata, a través de índices bióticos de polución y diversidad, otorgando una herramienta para la evaluación y gestión de los sistemas lóticos pampásicos. </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img src="imagenes/novedad1.jpg" class="img-responsive">
          </div>
        </div><!-- termina una novedad -->
        <div class="novedad"> <!-- empieza una novedad -->
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <h3>LUGAR, FECHA Y TÍTULO</h3>
            <p>El Laboratorio de Bentos desarrolla estudios orientados a completar la información referida a la biodiversidad de macroinvertebrados bentónicos y presentes en macrófitas, como así también el conocimiento de las respuestas de las comunidades a disturbios antropogénicos. Mediante esta información se busca lograr la caracterización ecológica de ríos y arroyos bonaerenses y Río de la Plata, a través de índices bióticos de polución y diversidad, otorgando una herramienta para la evaluación y gestión de los sistemas lóticos pampásicos. </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img src="imagenes/novedad2.jpg" class="img-responsive">
          </div>
        </div><!-- termina una novedad -->
      </div>
{% endblock %}