{% extends 'base.html' %}
{% block content %}
      <div class="banner-seccion">
        <ul class="bxslider">
          <li><img src="imagenes/peces-banner.jpg"></li>
          <li><img src="imagenes/peces-01.jpg"></li>
          <li><img src="imagenes/peces-02.jpg"></li>
          <li><img src="imagenes/peces-03.jpg"></li>
        </ul>
        <h1>ECOLOGÍA DE PECES</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Objetivos</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>La Línea de Investigación de Ecología de Peces, aborda el estudio demográfico y ecofisiológico de poblaciones de peces; funcionamiento de artes de pesca y ordenamiento de usos de los ambientes lagunares a partir de su potencial pesquero.<br><a href="peces-laboratorio.html"><strong>CLICK AQUÍ PARA ENTRAR AL LABORATORIO</strong></a>
        </div>
      </div>
      
{% endblock %}