{% extends 'base.html' %}
{% block content %}
      <div class="banner-seccion">
        <img src="imagenes/peces-laboratorio.jpg">
        <h1>Laboratorio de Ecología de Peces</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Objetivos</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>En el laboratorio se abordan estudios sobre el funcionamiento de arte pesca. Desarrollo de metodologías específicas (crecimiento, supervivencia, selectividad, fecundidad) que mejoran la estimación de los parámetros poblacionales a partir de datos de campo y laboratorio. Elaboración de hipótesis explicativas del comportamiento demográfico a partir de información ecofisiológica (metabolismo energético, índices somáticos, variación en el tamaño relativo de diversos órganos, entre otros). Ordenamiento de uso de los ambientes lagunares a partir de su potencial pesquero, de las condiciones limnológicas (en particular la composición química y superficie) y accesibilidad geográfica. Innovación experimental en las técnicas de piscicultura de pejerrey, con el objetivo de incrementar la supervivencia de los juveniles. Formación académica para profesionales involucrados con los recursos pesqueros dulceacuícolas. Asesoramiento a los sectores de la comunidad relacionados con la administración y el manejo de los recursos pesqueros continentales. Modelado, verificación y calibración de los modelos de crecimiento, de supervivencia y demográfico pesquero para Odontesthes bonariensis y otros peces. Desarrollo de modelos de ecosistemas dulceacuícolas. </p><a href="peces.html"><strong>VOLVER A LÍNEA DE INVESTIGACIÓN</strong></a>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Integrantes</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>Responsable: COLAUTTI, D.,C. (Inv. Principal). Integrantes: MAROÑAS, M. E. (Prof. Principal), SENDRA, E. D. (Prof. Principal), BRANCOLINI, F. (Becaria), GARCIA I. (Becario), MAIZTEGUI T. (Becario), YOROJO MORENO V. (Pasante), PAREDES DEL PUERTO, J. M. (Pasante)</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo"><a href="#">Proyectos</a></h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>- " Desarrollo de sistemas de cría para pejerrey". PIP - 2010-0259 (Vigencia 2010- 2014)." (VER PROYECTO)</p>
        </div>
      </div>

{% endblock %}