{% extends 'base.html' %}
{% block content %}
      <div id="parallax" class="banner-seccion">
        <img src="imagenes/plancton-banner.jpg">
        <h1>Ecología de plancton y biofilms</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Objetivos</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>Esta línea de investigación analiza la estructura y función de microcomunidades que habitan la columna de agua (plancton) y las que revisten distintos tipos de sustratos (biofilms) que se hallan en los cuerpos de agua. Explora indicadores ambientales que permitan diagnosticar la calidad del agua, generando herramientas de aplicación para el monitoreo que son destinadas a la evaluación y diagnótico de los ecosistemas acuáticos. Asimismo estudia la capacidad de autodepuración del biofilm fluvial. Centra su interés en ríos y arroyos pampeanos y el estuario del Río de la Plata, recurriendo para comprobar las hipótesis que plantean a la experimentación de campo y laboratorio. </p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Integrantes</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>Responsable:</strong> GÓMEZ, N. (Inv. Principal). Integrantes: BAUER, D.E. (Prof. Principal), LICURSI, M. (Inv. Adjunto), COCHERO, J. (Inv. Asistente), SATHICQ, M.B. (Becaria), NICOLOSI GELIS, M. M. (Becaria), TARDA, A. S. (Becario), PAZOS R. (Becario); PÉREZ ROMERO, J. A. (Pasante)</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo"><a href="#">Proyectos</a></h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>- 2010-2013. "Estudio de la integridad biótica de las comunidades planctónica y bentónicas en sistemas lóticos de la llanura pampeana y su relación con los usos del suelo." (VER PROYECTO)<br> <strong>- 2007-2011. "Programa de Monitoreo Integrado de la Calidad de agua y sedimentos de la Cuenca Matanza-Riachuelo y de la Franja Costera Sur y Sistematización de la Información generada." </strong> (VER PROYECTO)<br> <strong>- 2007-2010." Medidas de integridad biótica para la costa del Río de la Plata". </strong>(VER PROYECTO) </p>
        </div>
      </div>

  {% endblock %}