{% extends 'base.html' %}
{% block content %}
      <div id="parallax" class="banner-seccion">
        <img src="imagenes/plancton-banner.jpg">
        <h1>Laboratorio de Plancton</h1>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Objetivos</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p>El grupo de investigación estudia aspectos relacionados con la ecología del plancton y biofilms, centrando su área de interés en ecosistemas lóticos Pampeanos y Río de la Plata. En tal sentido se analizan aspectos estructurales y funcionales de las comunidades que pueblan la masa de agua y de aquellas que recubren distintos tipos de sustratos. Los objetivos fijados por el grupo de investigación tienden a obtener medidas de integridad biótica y ecológica destinadas a obtener herramientas de monitoreo adecuadas a las características de los ecosistemas en estudio. Se diseñan indicadores ecológicos que permiten contribuir al diagnóstico de la calidad del agua como así también test in situ y en laboratorio tendientes a detectar relaciones causa-efecto. Los estudios contemplan también cuestiones relacionadas con la biodiversidad de las comunidades estudiadas, éstos permiten ampliar los conocimientos de la biota de los ecosistemas en estudio y el estado de conservación de la misma. Asimismo, los integrantes del laboratorio interactúan con otros grupos de investigaciones nacionales e internacionales y transfieren los resultados obtenidos a organismos de gestión relacionados con el medio ambiente como así también a través de la docencia universitaria de grado y posgrado.</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo">Integrantes</h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>Responsable:</strong> GÓMEZ, N. (Inv. Principal). Integrantes: BAUER, D.E. (Prof. Principal), LICURSI, M. (Inv. Adjunto), COCHERO, J. (Inv. Asistente), SATHICQ, M.B. (Becaria), NICOLOSI GELIS, M. M. (Becaria), TARDA, A. S. (Becario), PAZOS R. (Becario); PÉREZ ROMERO, J. A. (Pasante)</p>
        </div>
      </div>
      <div class="container-fluid desarrollo">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <h3 class="subtitulo"><a href="#">Proyectos</a></h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
          <p><strong>- 2010-2013. "Estudio de la integridad biótica de las comunidades planctónica y bentónicas en sistemas lóticos de la llanura pampeana y su relación con los usos del suelo." (VER PROYECTO)<br> <strong>- 2007-2011. "Programa de Monitoreo Integrado de la Calidad de agua y sedimentos de la Cuenca Matanza-Riachuelo y de la Franja Costera Sur y Sistematización de la Información generada." </strong> (VER PROYECTO)<br> <strong>- 2007-2010." Medidas de integridad biótica para la costa del Río de la Plata". </strong>(VER PROYECTO) </p>
        </div>
      </div>

{% endblock %}